<div class="modal-header">
          <div class="input-group">
            <input type="text" class="form-control input-sm btn-rounded" placeholder="Search for owners here" ng-model="query" ng-keyup="searchowners(query)">
            <span class="input-group-btn">
              <button type="submit" ng-click="searchowners(query)" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search" ></i></button>
            </span>
          </div>
</div>
<div class="modal-body ">
 
          <div class="panel b-a">
        <h4 class="font-thin padder">Search results:</h4>
        <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in results">
              <a href="" class="thumb pull-left m-r m-t-sm">
                <img src="img/houserent.jpg" class="img-square">
              </a>
              <button class="btn btn-success btn-addon pull-right  btn-sm" ng-click="sethouseowner(result)"><i class="fa fa-plus" ></i>select</button>
              <div class="clear">
                  <a href="" class="h5">{{result.name}}</a>
                  <small class="block text-muted ng-binding">{{result.email}}</small>
                  <a ng-click="open('sm','rent')" class="btn btn-xs btn-danger m-t-xs">Pay Now</a>

              </div>
            
          </li>
         
         
        </ul>
      </div>
            
          
 </div>        

 <div class="modal-footer no-border">                  
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
    <!-- <button type="submit"class="btn btn-success"  ng-disabled="addowner.$invalid" ng-click="ok(owner)">Add owner</button> -->
</div>