<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <h1 class="m-n font-thin h3">Update Owner</h1>
</div>
<div class="wrapper-md" ng-controller="updateownersCtrl">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Owner Detail form</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal form-validation" name="addHouse">
            <div class="form-group">
              <label class="col-lg-2 control-label">House Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House name" ng-model="owner.name">
                <span class="help-block m-b-none">Example block-level help text here.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Address</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House address" ng-model="owner.address">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Total Rooms</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Phone no" ng-model="owner.phone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Rent</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" placeholder="Email Address" ng-model="owner.email">
              </div>
            </div>
            
             
             
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-sm btn-info" ng-click="update(owner)" >Update Owner</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
 
 
</div>