<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <h1 class="m-n font-thin h3">Update House</h1>
</div>
<div class="wrapper-md" ng-controller="FormCtrl">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">House Detail form</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal form-validation" name="addHouse">
            <div class="form-group">
              <label class="col-lg-2 control-label">House Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House name" ng-model="house.name">
                <span class="help-block m-b-none">Example block-level help text here.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Address</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House address" ng-model="house.address">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Total Rooms</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="No of Rooms" ng-model="house.totalrooms">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Rent</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House Rent to be paid by us" ng-model="house.rent">
              </div>
            </div>
            
             <div class="form-group">
              <label class="col-lg-2 control-label">House DTH bill</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Dth bill of house" ng-model="house.dthbill">
              </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House DTH bill date</label>
             <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="house.dthdate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
               <input type="hidden" value="{{df.getFullYear()}}-{{df.getMonth()+1}}-{{df.getDate()}}" id="dth_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
            </div>
              <div class="form-group">
              <label class="col-lg-2 control-label">House Electricity bill</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Monthly Electricity Bill" ng-model="house.powerbill">
              </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House Electricity bill date</label>
              <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="house.powerdate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
               <input type="hidden" value="{{ds.getFullYear()}}-{{ds.getMonth()+1}}-{{ds.getDate()}}" id="power_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House Wifi bill</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Monthly Electricity Bill" ng-model="house.wifibill">
              </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House Wifi bill date</label>
              <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="house.wifidate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
               <input type="hidden" value="{{dp.getFullYear()}}-{{dp.getMonth()+1}}-{{dp.getDate()}}" id="power_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Total Deposit</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Total deposit to be paid by us to the owner" ng-model="house.totaldeposit">
              </div>
            </div>
             <div class="form-group"> <label class="col-lg-2 control-label">House Deposit Left</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Left Deposit" ng-model="house.depositleft">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House entry date</label>
              <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="house.entrydate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
               <input type="hidden" value="{{dk.getFullYear()}}-{{dk.getMonth()+1}}-{{dk.getDate()}}" id="power_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-sm btn-info" ng-click="update(house)" >Add Tenant</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
 
 
</div>