<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Datatable</h1>
</div>
<div class="wrapper-md" ng-controller="tableCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      DataTables
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
         
          Columns: [
            { mData: 'engine' },
            { mData: 'browser' },
            { mData: 'platform' },
            { mData: 'version' }
            
          ]
        }" class="table table-striped m-b-none">
        <thead>
          <tr>
            <th  style="width:25%">Tenant Name</th>
            <th  style="width:25%">Tenant Phone</th>
            <th  style="width:25%">Tenant Company</th>
            <th  style="width:25%">Tenant Rent</th>
            <th  style="width:25%">Tenant Rent</th>
           
          </tr>
        </thead>
        <tbody>
          
            <tr ng-repeat="tenant in tenants" ng-if="tenant.is_verified=='0'">
                <td><a ui-sref="app.tenant.details({tenant_id: tenant.id})">{{tenant.name}}</a></td>
                <td>{{tenant.phone}}</td>
                <td>{{tenant.company}}</td>
                
                <td>{{Days(tenant.entry_date)}}</td>
                <td><button class="btn btn-sm btn-danger" ng-click="verify(tenant)">Verify</button></td>

               
               
            </tr>
           
            
        
        </tbody>
      </table>
    </div>
  </div>
</div>