
<div id="hero-container">
            <ul class="cb-slideshow">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>


 <div data-ng-include=" 'tpl/blocks/header.html' ">

  </div>           

            <div class="home-caption" >
                <div class="home-title"> DESIGN YOUR DREAM HOME WITH US </div>
                <div class="home-subtitle">  Discover unique looks and personalise home </div>
                <a href class="btn btn-lg btn-green" ng-click="scrollToProducts()"> Start Exploring</a>
            </div>
            <div class="search-panel">
                <form class="form-inline" role="form" ng-controller = "filterCtrl">
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" placeholder="City" autocomplete="off">
                    </div>
                    <div class="form-group hidden-xs adv">
                        <a href data-toggle="dropdown" class="btn btn-white dropdown-toggle">
                            <span class="dropdown-label">{{selectedProduct}}</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-select"><div class="checkbox custom-checkbox"><label><input type="checkbox" checked="checked"><span class="fa fa-check"></span> Checked</label></div>
                            <div class="checkbox custom-checkbox"><label><input type="checkbox" checked="checked"><span class="fa fa-check"></span> Checked</label></div>
                          

                            <li ng-repeat="product in products" ng-click="selectProduct(product)" ng-class="{'active' : product.selected}" >
                                <a href> {{product.product_name}}</a> </li>

                        </ul>
                    </div>
                    <div class="form-group hidden-xs adv">
                        
                        <a href data-toggle="dropdown" class="btn btn-white dropdown-toggle">
                            <span class="dropdown-label">{{selectedLocation}} </span> <span class="caret"></span>
                        </a>


                        <ul class="dropdown-menu dropdown-select">

                            <li ng-repeat="location in locations" ng-click="selectLocation(location)" ng-class="{'active' : location.selected}" >
                                <a href> {{location.location}}</a> </li>

                        </ul>
                    </div>
                    <div class="form-group hidden-xs adv">
                        <div class="input-group">

                            <div class="input-group-addon"> ₹ </div>
                            <input data-toggle="dropdown"  class="form-control price dropdown-label " type="text" placeholder="₹ {{budgets[0]}}K"></input>
                                
                           
                        
                                    <!--<a href class="btn btn-white dropdown-toggle">
                                       
                                    </a>-->

                                    <ul class="dropdown-menu dropdown-select">
                                      
                                        <li ng-repeat="budget in budgets" ng-click="selectbudget(budget)" ng-class="{'active' : budget.selected}" >
                                            <a href>₹ {{budget}}K </a> </li>
                                    </ul>

                            

                        </div>
                    </div>
                    
                    <div class="form-group hidden-xs adv">
                   <div class="input-group">

                            
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                                <div class="formField">
                                    <label>Price Range</label>
                                    <div class="slider priceSlider">
                                        <div class="sliderTooltip">
                                            <div class="stArrow"></div>
                                            <div class="stLabel"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <!--  <input   class="form-control price dropdown-label " type="text" placeholder="₹ {{budgets[0]}}K" ng-click="dropdownHandle()"></input>
                              -->   
                           
                        
                                    <!--<a href class="btn btn-white dropdown-toggle">
                                       
                                    </a>-->

                                    <!--  <div class="dropdown-menu dropdown-select" id="dropdowndisplay">
                                         <div class="row" style="background-color:grey;color:black"><div class="form-group has-warning">
                                           
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div></div>

                                        <li ng-repeat="budget in budgets" ng-click="selectbudget(budget)" ng-class="{'active' : budget.selected}" >
                                            <a href>₹ {{budget}}K </a> </li>
                                    </div>  -->
                           

                        </div>

                       


                    </div>



                    <div class="form-group hidden-xs adv">
                        <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> For Rent</label></div>
                    </div>
                    <div class="form-group hidden-xs adv">
                        <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> For Sale</label></div>
                    </div>
                    <div class="form-group">
                        <a href="explore.html" class="btn btn-green isThemeBtn">Search</a>
                        <a href="#" class="btn btn-o btn-white pull-right visible-xs" id="advanced">Advanced Search <span class="fa fa-angle-up"></span></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="highlight">
            <div class="h-title osLight">Find your new place with Reales</div>
            <div class="h-text osLight">Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</div>
        </div>

        <!-- Content -->

        <div class="home-wrapper" ng-controller="allcategoryCtrl">
            <div class="home-content">
                <h2 class="osLight">How It Works</h2>
                <div class="row pb40">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="fa fa-search s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">Find places anywhere in the world</h2>
                                <h3 class="s-sub osLight">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="fa fa-filter s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">We have agents with experience</h2>
                                <h3 class="s-sub osLight">Nulla convallis egestas rhoncus consectetur adipiscing elit</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="fa fa-building-o s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">Buy or rent beautiful properties</h2>
                                <h3 class="s-sub osLight">Donec facilisis fermentum sem, ac viverra ante luctus vel</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="fa  fa-shopping-cart s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">With agent account you can list properties</h2>
                                <h3 class="s-sub osLight">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <h2 class="osLight" id = "ourProducts" >Explore Our Products</h2>
                 <div class="row pb40" >
                    <div ng-repeat="category in categories" class="{col-xs-12 col-sm-6 col-md-4 col-lg-4}"  ng-click="scrollToTop()">
                                    <a  ui-sref="app.products.type({routeId : category.name})"  class="propWidget-1">
                                        <div class="fig">
                                            <img ng-src="{{category.image}}" alt="image">
                                            <div class="priceCap"><span>$1,930,000</span></div>
                                            <div class="figType">FOR SALE</div>
                                            <div class="figCap">
                                                <h3>{{category.details.title}}</h3>
                                                <div class="address">39 Remsen St, Brooklyn, NY 11201, USA</div>
                                                <div class="feat feat-1"><span class="fa fa-moon-o"></span> 3</div>
                                                <div class="feat feat-2"><span class="icon-drop"></span> 2</div>
                                                <div class="feat feat-3"><span class="icon-frame"></span> 3430 Sq Ft</div>
                                            </div>
                                        </div>
                                    </a>
                     </div>
                  
               
                 
                   
                    
                    
                    
                </div>
                <h2 class="osLight">Our Agents</h2>
                <div class="row pb40">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img ng-elevate-zoom  src="images/avatar-1.png" alt="John Smith">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">John Smith</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img src="images/avatar-2.png" alt="Jane Smith">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">Jane Smith</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img src="images/avatar-3.png" alt="Rust Cohle">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">Rust Cohle</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img src="images/avatar-4.png" alt="Antony Iglesias">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">Antony Iglesias</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="osLight">Testimonials</h2>
                <div id="home-testimonials" class="carousel slide carousel-wb mb20" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#home-testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#home-testimonials" data-slide-to="1" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/avatar-2.png" class="home-testim-avatar" alt="Jane Smith">
                            <div class="home-testim">
                                <div class="home-testim-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</div>
                                <div class="home-testim-name">Jane Smith</div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/avatar-3.png" class="home-testim-avatar" alt="Rust Cohle">
                            <div class="home-testim">
                                <div class="home-testim-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</div>
                                <div class="home-testim-name">Rust Cohle</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div data-ng-include=" 'tpl/blocks/footer.html' "></div>

        <div class="modal fade" id="signin" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="signinLabel">Sign In</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign In with Facebook</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Sign In with Google</a>
                                </div>
                            </div>
                            <div class="signOr">OR</div>
                            <div class="form-group">
                                <input type="text" placeholder="Email Address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Remember me</label></div>
                                    </div>
                                    <div class="col-xs-6 align-right">
                                        <p class="help-block"><a href data-toggle="modal" data-target="#forgot_pwd" class="text-green isThemeText modal-sf">Forgot password?</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-green isThemeBtn">Sign In</a>
                                </div>
                            </div>
                            <p class="help-block">Don't have an account? <a href data-toggle="modal" data-target="#signup" class="modal-su text-green isThemeText">Sign Up</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="signup" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="signupLabel"> Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign Up with Facebook</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Sign Up with Google</a>
                                </div>
                            </div>
                            <div class="signOr">OR</div>
                            <div class="form-group">
                                <input type="text" placeholder="First Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Last Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Email Address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Confirm Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-green isThemeBtn">Sign Up</a>
                                </div>
                            </div>
                            <p class="help-block">Already a Reales member? <a href data-toggle="modal" data-target="#signin" class="modal-si text-green isThemeText">Sign In</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="forgot_pwd" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" ng-controller='emailConfirmCtrl'>
                    <div class="modal-header">
                        <h4 class="modal-title" id="signupLabel">Email Verification</h4>
                    </div>
                    <div class="modal-body">
                          
                            <div class="form-group">
                                <input type="text" ng-model="email" placeholder="Email Address" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <button class="btn-lg btn-green isThemeBtn" ng-click="check_credentials(email)"> Send Activation </button> 
                                    
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>

         