<section class="contact_banner_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="contact_banner">
						<h2>contact</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
  <div class="breadcumb_area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="bread_box">
						<ul class="breadcumb">
							<li><a href="index.html">home <span>|</span></a></li>
							<li><a href="">Pages <span>|</span></a></li>
							<li class="active"><a href="">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section id="maps" class="maps_area" style="background:none repeat scroll 0 0 #f7f8f9;">
		<div class="maps_box wow fadeIn">
			<h2>Maps</h2>
			<div id="googleMap" class="container" style="width:100%;height:450px;"></div>
		</div>
	</section>
  <section class="contact_p_area" ng-controller='contactusCtrl'>
  		<div class="container">
  			<div class="row">
  				<div class="col-md-8 col-sm-8 col-xs-12">
  					<div class="contact_box_left">
  						<h4>Leave A message</h4>
  						<div class="multi_line"></div>
  					</div>
  					<form name='contactusForm' class='form-validation'ng-submit='contactQuery(person)' novalidate>
  						<div class="input_form">
  							<div class="input_left">
  								<input type="text" placeholder="Name *" required  name="name" ng-model="person.name">
                  <p class='error' ng-show='isSubmited&&contactusForm.name.$error.required'> name is required</p>
  								<input type="email" placeholder="Your Email *" required  name="email" ng-model="person.email">
  								<p class='error' ng-show='isSubmited&&(contactusForm.email.$error.required||contactusForm.email.$error.email)'> invalid email</p>
                  <input type="text" placeholder="10 digit no *" required ng-minlength='10' ng-maxlength='10' name="phone" ng-model="person.phone">
                  <p class='error' ng-show='isSubmited&&contactusForm.phone.$error.required'> invalid phone no</p>
  							</div>
  							<div class="input_right">
  								<textarea name="message" placeholder="Message" ng-model="person.msg"></textarea>
  							</div>
  						</div>
  						<div class="submit_btn form-group submitRow">
                <p class='success'>  {{contactusResp}}</p>
  							<input type="submit" name="submit" ng-click='isSubmited=true'value="Submit Info">
  						</div>

  					</form>
  				</div>
  				<div class="col-md-4 col-sm-4 col-xs-12">
  					<div class="contact_box_right">
  						<h5>Address</h5>
  						<p>44 new Design Street, Melbourne 005 <br>Australia 300</p>
  						<div class="dotted_line"></div>

  						<h5>Contact info</h5>
  						<p>Info@Example.com</p>
  						<a href="tel:01(800)433633">01 (800) 433 633</a>
  						<div class="dotted_line"></div>

  						<h5>Working hours</h5>
  						<p>Daily 10.00 to 22.00    ( Sunday Avilable ) </p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>
