<div ng-controller="searchPageCtrl">

    <div id="header">
        <!-- <div class="logo">
            <a ui-sref="app.home">
                <span class="fa fa-home marker"></span>
                <span class="logoText" >reales</span>
            </a>
        </div> -->
        <a href   data-target="#leftSide" class="navHandler" ng-click="showLeftSideFilters()"><span class="fa fa-bars"></span></a>
        <div class="search">
            <span class="searchIcon icon-magnifier"></span>
            <input type="text" placeholder="Search for tiles, marbles..." ng-keyup="showSuggestions()" ng-model="searchQuery.text" >

                <div class="hidden search-data" id="search-items" >
                     <ul>                                                                                
                       <li ng-repeat="type in types"> <a ui-sref="app.search.type({routeId: type, query: searchQuery.text+url})" class='dropdown-toggle '> <span class="notifyIcon fa fa-search"></span> find {{searchQuery.text}} in {{type}} </a> </li>


                    </ul>
                </div>
            
        </div>
        <div class="headerUserWraper">
            <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
            <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
                <img class="avatar headerAvatar pull-left" src="images/avatar-1.png" alt="avatar">
                <div class="userTop pull-left">
                    <span class="headerUserName">John Smith </span> <span class="fa fa-angle-down"></span>
                </div>
                <div class="clearfix"></div>
            </a>
            <div class="dropdown-menu pull-right userMenu" role="menu">
                <div class="mobAvatar">
                    <img class="avatar mobAvatarImg" src="images/avatar-1.png" alt="avatar">
                    <div class="mobAvatarName">John Smith </div>
                </div>
                <ul>
                    <li><a href="#"><span class="icon-settings"></span>Settings</a></li>
                    <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
                    <li><a href="#"><span class="icon-bell"></span>Notifications <span class="badge pull-right bg-red">5</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="icon-power"></span>Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="headerNotifyWraper">
            <a href class="headerNotify dropdown-toggle" data-toggle="dropdown" ng-click="showCart()">
                <span class="notifyIcon fa fa-shopping-cart"></span>
                <span class="counter" id="counter"> 0 </span>
            </a>
          
            <div class="dropdown-menu pull-right notifyMenu" role="menu">
                
                <ngcart-cart></ngcart-cart> 
            </div>
        </div>
        <a href="#" class="mapHandler"><span class="icon-map"></span></a>
        <div class="clearfix"></div>
    </div>

        <!-- Left Side Navigation -->

    <div id="leftSide" style='height:{{contentHeight}}px; overflow-x: hidden; overflow-y: auto;' class='hidden'>
        
            <div class="refined-widgets">
              <span>Refined By</span>
              <a href="javascript:void(0)" class="clear-all"  style="display:none" >Clear all</a>
              
            </div>

            <div class="sidebar-block">

            <div class="sidebar-custom sidebar-tag color">
              
              <div class="widget-title">
                <h3>
                  <span ng-click="handleColors()">Color</span>
                  <a href  class="clear" >Clear</a>
                </h3>
              </div>
              <div class="widget-content" id="colors" >
                <ul>
                  <li ng-repeat="color in colors"> <input type="checkbox" value="{{color}}" /> <a href ui-sref="app.search.type({routeId:rId,  query: url })" > <img id = "colorId{{$index+1}}" src="images/colors/color-{{$index+1}}.png" alt="" ng-click="applyColorFilter('color={{color}}')" /> </a></li>
                  
                                    
                </ul>
              </div>
            </div>

            <div class="sidebar-custom sidebar-tag size">              
              <div class="widget-title">
                <h3>
                  <span>Size</span>
                  <a href  class="clear" >Clear</a>
                </h3>
              </div>
              <div class="widget-content" id="sizes">
                <ul>
                    <li><input type="checkbox" value="xs"/><label>XS</label></li>
                    <li><input type="checkbox" value="s"/><label>S</label></li>
                    <li><input type="checkbox" value="m"/><label>M</label></li>
                    <li><input type="checkbox" value="l"/><label>L</label></li>
                     <li><input type="checkbox" value="xl"/><label>XL</label></li>
                </ul>
              </div>
            </div>



            <div class="sidebar-custom sidebar-tag">              
              <div class="widget-title">
                <h3>
                  <span ng-click="handlePrices()">Price(per sq. ft.) </span>
                  <a href  class="clear"  >Clear</a>
                </h3>
              </div>
              <div class="widget-content" id="prices">
                <ul>
                     <li> <a href ui-sref="app.search.type({routeId:rId,  query: url })" ng-click="applyPriceFilter('price_range=below-100')"> <input type="checkbox" value="price_range=below 100" /><label>Under 100</label></a></li> 
                    <li> <a href ui-sref="app.search.type({routeId:rId,  query: url  })" ng-click="applyPriceFilter('price_range=100-200')"> <input type="checkbox" value="price_range=100-200"/><label>100 - 200</label> </a> </li>
                    <li> <a href ui-sref="app.search.type({routeId:rId,  query: url  })" ng-click="applyPriceFilter('price_range=above-200')"> <input type="checkbox" value="price_range=above-200"/><label>Above 200</label> </a> </li>
                    
                </ul>
              </div>
            </div>



            <div class="sidebar-custom sidebar-tag">
              
              <div class="widget-title">
                <h3>
                  <span>Brand</span>
                  <a href class="clear" style="display:none">Clear</a>
                </h3>
              </div>
              <div class="widget-content">
                <ul>
                    
                    <li><input type="checkbox" value="chanel"/><label>Chanel</label></li>
                    
                    <li><input type="checkbox" value="dior"/><label>Dior</label></li>
                    
                    <li><input type="checkbox" value="gap"/><label>Gap</label></li>
                    <li><input type="checkbox" value="lucci"/><label>Lucci</label></li>
                    
                   <li><input type="checkbox" value="louis"/><label>Louis</label></li>
                    
                </ul>
              </div>
            </div>

            </div>
    </div>      
        <!-- <nav class="leftNav scrollable">
            <div class="search">
                <span class="searchIcon icon-magnifier"></span>
                <input type="text" placeholder="Search for houses, apartments...">
                <div class="clearfix"></div>
            </div>


            <ul>
                <li><a href="explore.html"><span class="navIcon icon-compass"></span><span class="navLabel">Explore</span></a></li>
                <li><a href="single.html"><span class="navIcon icon-home"></span><span class="navLabel">Single</span></a></li>
                <li><a href="add.html"><span class="navIcon icon-plus"></span><span class="navLabel">New</span></a></li>
                <li class="hasSub">
                    <a href="#"><span class="navIcon icon-drop"></span><span class="navLabel">Colors</span><span class="fa fa-angle-left arrowRight"></span><span class="badge bg-yellow">5</span></a>
                    <ul class="colors">
                        <li><a href="#" data-style="css/app-red.css">Red <span class="fa fa-circle-o c-red icon-right"></span></a></li>
                        <li><a href="#" data-style="css/app.css">Green <span class="fa fa-circle-o c-green icon-right"></span></a></li>
                        <li><a href="#" data-style="css/app-blue.css">Blue <span class="fa fa-circle-o c-blue icon-right"></span></a></li>
                        <li><a href="#" data-style="css/app-yellow.css">Yellow <span class="fa fa-circle-o c-yellow icon-right"></span></a></li>
                        <li><a href="#" data-style="css/app-magenta.css">Magenta <span class="fa fa-circle-o c-magenta icon-right"></span></a></li>
                    </ul>
                </li>
                <li class="hasSub">
                    <a href="#"><span class="navIcon icon-layers"></span><span class="navLabel">Elements</span><span class="fa fa-angle-left arrowRight"></span></a>
                    <ul>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="icons.html">Icons <span class="badge pull-right bg-yellow">841</span></a></li>
                        <li><a href="grid.html">Grid</a></li>
                        <li><a href="widgets.html">Widgets</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li><a href="lists.html">Lists</a></li>
                        <li><a href="tables.html">Tables</a></li>
                        <li><a href="form.html">Form</a></li>
                    </ul>
                </li>
                <li class="hasSub">
                    <a href="#"><span class="navIcon icon-link"></span><span class="navLabel">Pages</span><span class="fa fa-angle-left arrowRight"></span></a>
                    <ul>
                        <li><a href="signin.html">Sign In</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="index-2.html">Homepage Slideshow</a></li>
                        <li><a href="index-map.html">Homepage Map</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-post.html">Blog Post</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="leftUserWraper dropup">
            <a href="#" class="avatarAction dropdown-toggle" data-toggle="dropdown">
                <img class="avatar" src="images/avatar-1.png" alt="avatar"><span class="counter">5</span>
                <div class="userBottom pull-left">
                    <span class="bottomUserName">John Smith</span> <span class="fa fa-angle-up pull-right arrowUp"></span>
                </div>
                <div class="clearfix"></div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><span class="icon-settings"></span>Settings</a></li>
                <li><a href="profile.html"><span class="icon-user"></span>Profile</a></li>
                <li><a href="#"><span class="icon-bell"></span>Notifications <span class="badge pull-right bg-red">5</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon-power"></span>Logout</a></li>
            </ul>
        </div> -->
    
    <!-- <div class="closeLeftSide"></div> -->

        <!-- Content -->

        <div id="wrapper">
            <div id="mapView"> 
                444

            </div>
            <div id="content" style='height:{{contentHeight}}px ;'>
                <div class="filter">
                    <h1 class="osLight">Filter your results </h1>
                      
                    <div class="clearfix"></div>
                    <form class="filterForm">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                                <div class="formField">
                                    <label>Property Type</label> <label ng-click="pageSearchData(2)">2</label><label ng-click="pageSearchData(3)">3</label>
                                    <a href data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                                        <span class="dropdown-label">All</span> 
                                        <span class="fa fa-angle-down dsArrow"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-select full" role="menu">
                                        <li class="active"><input type="radio" name="pType" checked="checked"><a ng-click="sortBy = '-product_price'; AscorDesc=false" > Price (high to low)</a></li>
                                        <li><input type="radio" name="pType"><a ng-click="sortBy = 'product_price'; AscorDesc=false">Price (low to high)</a></li>
                                        <li><input type="radio" name="pType"><a ng-click="sortBy = '-product_rating'; AscorDesc=false">Rating (high to low)</a></li>
                                         <li><input type="radio" name="pType"><a ng-click="sortBy = 'product_rating'; AscorDesc=false">Rating (low to high)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
<!--                 <div class="resultsList">
                    <div class="row">
                
 -->        
                <div class="tab-content tab-scroll tabsWidget">
                    <div class="tab-pane fade in active" id="properties">            
                        <ul class="propList">
                            <li ng-repeat="product in searchResults | orderBy:sortBy:AscOrDesc">
                                <a href data-toggle="modal" data-target="#product-pop-up" class="card" ng-click="fetchProductInfo(product)">
                                    <div class="image"><img src="{{product.product_img}}" alt="image"></div>
                                    <div class="info text-nowrap">
                                        <div class="name">{{product.product_name}}</div>
                                        <div class="address">39 Remsen St, Brooklyn, NY 11201, USA</div>
                                        <div class="price text-red">Rs. {{product.product_price}} per sq. ft. <span class="badge"> <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                            ({{product.product_rating}}) </span></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                        </ul>                                                    
                       <!--  <div ng-repeat="product in searchResults | orderBy:sortBy:AscOrDesc" class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                            <a href data-toggle="modal" data-target="#product-pop-up" class="card" ng-click="fetchProductInfo(product)"> 
                                <div class="figure">
                                    <img src="{{product.product_img}}" alt="image" style="height:150px;">
                                    <div class="figCaption">
                                        <div>{{product.product_price}} </div>
                                        <span class="icon-eye"> {{product.product_rating}} </span>
                                        <span class="icon-heart"> 54</span>
                                        <span class="icon-bubble"> 13</span>
                                    </div>
                                    <div class="figView"><span class="icon-eye"></span></div>
                                    <div class="figType">FOR SALE</div>
                                </div>
                                <h2> {{product.product_name}}</h2>
                                <div class="cardAddress"><span class="icon-pointer"></span> Supplier: {{product.product_supplierID}} </div>
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    (146)
                                </div>
                                <ul class="cardFeat">
                                    <li><span class="fa fa-moon-o"></span> 3</li>
                                    <li><span class="icon-drop"></span> 2</li>
                                    <li><span class="icon-frame"></span> 3430 Sq Ft</li>
                                </ul>
                                <div class="clearfix"></div>
                            </a>
                        </div> -->
                        
                    </div>
                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="modal fade" id="product-pop-up"  role="dialog" aria-hidden="true" >
            <div class="modal-dialog modal-lg">
                          

                <div class="modal-content">
             
                    <div class="modal-header">
                        <h4 class="modal-title" id="signupLabel">Product Id: {{selected_product_id}}   </h4>
                    </div>
              
                        
                  
                    <div class="modal-body">
                        <div class="product-page product-pop-up">
                            <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-3">
                              <div class="product-main-image">
                                <img ng-elevate-zoom
                                         ng-src="{{selected_product_img}}"
                                         zoom-image="{{selected_product_img}}" alt="Cool green dress with red bell" class="img-responsive">
                                                                


                              </div>
                              <div class="product-other-images">
                                <a href ng-click="selectImg(1)" class="active"><img alt="Berry Lace Dress" src="{{selected_product_img}}"></a>
                                <a href ng-click="selectImg(2)" ><img alt="Berry Lace Dress" src="images/products/tiles/tile2.jpg"></a>
                                <a href ng-click="selectImg(3)" ><img alt="Berry Lace Dress" src="images/products/tiles/tile1.jpg"></a>
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-9">
                              <h2> {{selected_product_name}}</h2>
                              <div class="price-availability-block clearfix">
                                <div class="price">
                                  <strong><span>₹</span> {{selected_product_price}} <span>per sq. ft. </span></strong>
                                  <!-- <em>$<span>62.00</span></em> -->
                                </div>
                                <div class="availability">
                                  Availability: <strong>In Stock</strong>
                                </div>
                              </div>
                              <div class="description" style="padding-top:0px;">
                                <p>  {{selected_product_desc}}</p>
                              </div>
                              <div class="product-page-options">
                                <div class="cardRating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    ({{selected_product_rating}} )
                                </div>

                                <div class="pull-left">
                                  <label class="control-label">Size:</label>
                                  <select class="form-control input-sm" style="line-height:13px;">
                                    <option>L</option>
                                    <option>M</option>
                                    <option>XL</option>
                                  </select>
                                </div>
                                <div class="pull-left">
                                  <label class="control-label">Color:</label>
                                  <select class="form-control input-sm" style="line-height:13px;">
                                    <option>Red</option>
                                    <option>Blue</option>
                                    <option>Black</option>
                                  </select>
                                </div>
                              </div>
                              <div class="product-page-cart">
                                
                                <!-- <div class="product-quantity">
                                    <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
                                </div> -->

                                  
                                                                     
                                <ngcart-addtocart id="{{selected_product_id}}" name="{{selected_product_name}}" price="{{selected_product_price}}" quantity="1" quantity-max="5" data="{ product_img: selected_product_img, product_id: selected_product_id }" ng-click ="showCounter()">Add to Cart 
                                    
                                    </ngcart-addtocart>

                                <!-- <button class="btn btn-primary" type="submit" ng-click= "cartItems.AddItemToCart(selected_product)">Add to cart </button> -->
                                <!-- <a ui-sref="app.home" class="btn btn-default">More details</a> -->
                              </div>
                            </div>

                            <div class="sticker sticker-sale"></div>
                          </div>    
                                        
                                </div>
                            </div>
                </div>
            </div>
        </div>



<!--        CART WITH ALL DETAILS       -->


         <div class="modal fade" id="my-cart"  role="dialog" aria-hidden="true" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id=""><span class="notifyIcon fa fa-shopping-cart"></span>
                        <span class="counter">5</span> &nbsp;&nbsp;&nbsp;&nbsp; MY CART </h4>
                    </div>
                               
                    <div class="modal-body">  
                        <ngcart-mycart> </ngcart-mycart> 
                        
                    </div>
                </div>
            </div>
        </div>



