<div id="super-search" class="sf-super-search clearfix" ng-show="1==0">
  <div class="container">
    <div class="search-options" style="font-family: Dosis;
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;">
      <span>Hello, I'm looking for new</span>
      <div ng-click="product_category = !product_category" class="ss-dropdown" tabindex="1" data-attr_value="shirts">
        <span>{{product_name}}</span>
        <ul ng-class="{'show-dropdown' : product_category}" style="top:-10px">
          <li ng-repeat="category in product_categories" ng-class="{'selected' : category.current}" ng-click="selectProductCategory(category)"><a class="ss-option">{{category.name}}</a><i class="fa fa-check"></i></li>

        </ul>
      </div>
      <span>in a size</span>
      <div ng-click="product_sizes = !product_sizes" class="ss-dropdown">
        <span>{{Size_name}}</span>
        <ul ng-class="{'show-dropdown' : product_sizes}">
          <li ng-repeat="size in Sizes" ng-class="{'selected' : size.current}" ng-click="selectProductSizes(size)"><a class="ss-option">{{size.name}}</a><i class="fa fa-check"></i></li>
        </ul>
      </div>

      <input type="text" pattern="[0-9]*" id="ss-price-min" name="min_price" value="0" />
      <span>&</span>
      <input type="text" pattern="[0-9]*" id="ss-price-max" name="max_price" value="1400" />
      <span>. Show me all the</span>
      <div ng-click="product_color = !product_color" class="ss-dropdown" tabindex="4" data-attr_value="61">
        <span>{{Color_name}}</span>
        <ul ng-class="{'show-dropdown' : product_color}" style="top:-10px">
          <li ng-repeat="color in Colors" ng-class="{'selected' : color.current}" ng-click="selectProductColors(color)"><a class="ss-option">{{color.name}}</a><i class="fa fa-check"></i></li>
          <li><a class="ss-option" href="#" data-attr_value="164">Beige</a><i class="fa-check"></i></li>

        </ul>
      </div>
      <span>items, from the brand </span>
      <div ng-click="product_Brand = !product_Brand" class="ss-dropdown">
        <span>{{Brand_name}}</span>
        <ul ng-class="{'show-dropdown' : product_Brand}">
          <li ng-repeat="brand in Brands" ng-class="{'selected' : brand.current}" ng-click="selectProductBrands(brand)"><a class="ss-option">{{brand.name}}</a><i class="fa fa-check"></i></li>
        </ul>
      </div>
      <span>.</span>
    </div>
    <div class="search-go">
      <div style="font-family: 'Dosis'; font-size: 24px; font-weight: bold; text-transform: uppercase; color: #232323;;padding:10px 20px">
        <a ng-click="superSearch();personalsearch = !personalsearch" style="cursor:pointer" class="searchButton"><i class="fa fa-search" style="margin-right:10px"></i>Search</a>
      </div>
    </div>
  </div>
</div>
<div class="header_top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_left">
          <img src="images/car.png" alt="Header Car Icon" />
          <p ng-click="personalsearch = !personalsearch">GET EXCLUSIVE TILE COLLECTION HERE</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="header_top_right floatright">
          <p> <a href='../seller'> Sell on Buildcorner </a></p>
          <p ng-show='currentUser==""'><a ng-click="showloginModel()">login</a> / <a ng-click="showsignupModel()">register</a></p>
          <p ng-show='currentUser!=""'><a ng-click="logout()"> {{currentUser}} logout</a> </p>
          <!-- <nav class="currency alignleft">
                            <ul>
                                <li><a href="#">USD</a>
                                    <ul class="currency-dropdown">
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">GBP</a></li>
                                        <li><a href="#">CAD</a></li>
                                        <li><a href="#">AUD</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="top-flag alignleft">
                            <img src="images/flag.png" alt="Flags" />
                        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3 col-xs-12">
        <div class="header_left floatleft" ng-click="personalsearch = !personalsearch">
          <!-- <form name='personal-search' id='psearch' ng-submit="alert(1)">
          <a class="fa fa-search" href></a>
          <input type="text" ng-model='userQuery' placeholder=" Personal search" />
          <input type="submit" value='s' />
        </form> -->
        <form id="myform" ng-submit="searchUserQuery(query);query=null"> 
          <a class="fa fa-search" href></a>    
          <input type="text" ng-model='query' class='input-sm' placeholder='search products' name="userquery">
        </form>  
        </div>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-12">
        <div class="header_center">
          <a ui-sref="app.home.site">
            <img style="margin-top:-40px" src="images/logo1.png" alt="Site Logo" />
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="header_right floatright">
          <ul class="checkout">
            <li><a href class="shop_cartmenu"><i class="icon icon-basket"></i>Shopping Cart
                                     <ngcart-cart></ngcart-cart>
                            </a>

            </li>
            <!--  <li class="mobi_right_li"><a style="cursor:pointer"><i class="fa fa-search"></i>Personal Search</a></li>-->
          </ul>
          <div class="w_likes">
            <span>{{ ngCart.getItems().length }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
