

            <div class="home-header" id="page_top" >
                <div class="home-logo osLight" > 
                    <!-- <span class="fa fa-home"></span> -->
                 ShiningFloor
                    </div>
                                        
                        <div class="btn-group" style="margin-left:10px;"  >

                            <button data-toggle="dropdown" class="btn btn-o btn-white dropdown-toggle">
                                <span class="dropdown-label"> {{currentpage}} </span> <span class="caret"></span>
                            </button>

                             <ul class="dropdown-menu dropdown-select">

                            <!-- ngRepeat: product in products -->
                                <li ng-class="{active: currentpage == 'tiles'}">
                                <a ui-sref="app.products.type({routeId : 'tiles'})" > Tiles </a> </li>
                                <li ng-class="{active: currentpage == 'marble'}">
                                <a ui-sref="app.products.type({routeId : 'marble'})" > Marble </a> </li>
                                <li ng-class="{active: currentpage == 'wood'}">
                                <a ui-sref="app.products.type({routeId : 'wood'})"  > Wood </a> </li>
                                <li ng-class="{active: currentpage == 'wallpaper'}">
                                <a ui-sref="app.products.type({routeId : 'wallpaper'})"  > Wallpaper </a> </li>
                                <li ng-class="{active: currentpage == 'stone'}">
                                <a ui-sref="app.products.type({routeId : 'stone'})" > Stone </a> </li>
                                <li ng-class="{'active text-green': currentpage == 'artificial'}">
                                <a ui-sref="app.products.type({routeId : 'artificial'})" > Artificial </a> </li>
                            </ul>
                        </div>

                       
                       
                    

                

                <div class="home-nav">
                    <ul>
                        <li><a href data-toggle="modal" data-target="#signup" ng-click="scrollToAboutUs()" >About</a></li>
                        <li><a  href data-toggle="modal" data-target="#product-pop-up"  ng-click="scrollToHowItWorks()" >How It Works</a></li>
                        <li><a href data-toggle="modal" data-target="#signin"  class="btn btn-green isThemeBtn">Sign In</a></li>
                    </ul>
                </div>
            </div>
           