<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <h1 class="m-n font-thin h3">Add New Product</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold" style="text-align:center">Fill All Product Details</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal" name="addProduct">
            <div class="form-group">
              <label class="col-lg-2 control-label">Product Name</label>
              <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="product name" ng-model="product.name" >

              </div>

              <label class="col-lg-2 control-label">Product Type </label>
              <div class="col-lg-3">
                <select  class="w-md form-control" ng-model="product.type"  ng-click="selectType(product.type);" >
                        <option ng-repeat="product_type in product_types" value="{{product_type.value}}">{{product_type.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" ng-click='alertMe()'>Product Brand</label>

                <!-- <select  ui-jq="chosen" ui-refresh="chosen" class="w-md" ng-model="product.brand" ng-init="product.brand=''">
                    <optgroup label="choose from brands <span ng-click='alertMe()'> click </span>" >
                        <option ng-repeat="brand in brands" value="{{brand}}">{{brand}}</option>
                     </optgroup>

                </select> -->
                <!-- <input type="text" class="form-control" placeholder="product name" ng-model="product.brand"> -->
                <div class="col-lg-3" mass-autocomplete>
                    <input placeholder= 'select a brand' class="form-control" ng-model="product.brand"  mass-autocomplete-item="brand_options" ng-keyup="addNewBrandInList()">
                  </div>

                <!-- <label ng-repeat="brand in brands">{{brand}} </label> -->

              <label class="col-lg-2 control-label">Product Material</label>
              <div class="col-lg-3">
                <!-- <select ui-jq="chosen" class="w-md" ng-model="product.material"ng-init="product.material=''">
                    <optgroup label="choose material type" >
                        <option ng-repeat="material in materials" value="{{material}}">{{material}}</option>
                     </optgroup>
                </select> -->
                <!-- <input type="text" class="form-control" placeholder="Example: Ceramic" ng-model="product.material" ng-init="product.material=''"> -->
                <div mass-autocomplete>
                    <input placeholder= 'select a material' class="form-control" ng-model="product.material"  mass-autocomplete-item="material_options">
                  </div>

              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Product Application</label>
              <div class="col-lg-3">
                <!-- <select ui-jq="chosen" class="w-md" ng-model="product.application"ng-init="product.application=''">
                    <optgroup label="choose application type" >
                        <option ng-repeat="application in applications" value="{{application}}">{{application}}</option>
                     </optgroup>
                </select> -->
                <!-- <input type="text" class="form-control" placeholder="Example: Wall or Floor" ng-model="product.application" ng-init="product.application=''"> -->
                <div mass-autocomplete>
                    <input placeholder= 'select an application' class="form-control" ng-model="product.application"  mass-autocomplete-item="application_options">
                  </div>

              </div>

              <label class="col-lg-2 control-label">Product Size</label>
              <div class="col-lg-3">
                <!-- <select ui-jq="chosen" class="w-md" ng-model="product.size"ng-init="product.size=''">
                    <optgroup label="choose product size " >
                        <option ng-repeat="size in sizes" value="{{size}}">{{size}}</option>
                     </optgroup>
                </select> -->
                <!-- <input type="text" class="form-control" placeholder="Example: (300 X 450mm)" ng-model="product.size" ng-init="product.size=''"> -->
                <div mass-autocomplete>
                    <input placeholder= 'size of product' class="form-control" ng-model="product.size"  mass-autocomplete-item="size_options">
                  </div>

              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Product Finish</label>
              <div class="col-lg-3">
                <!-- <select ui-jq="chosen" class="w-md" ng-model="product.finish_type"ng-init="product.finish_type=''">
                    <optgroup label="choose finishing type " >
                        <option ng-repeat="finish_type in finish_types" value="{{finish_type}}">{{finish_type}}</option>
                     </optgroup>
                </select> -->
                <!-- <input type="text" class="form-control" placeholder="Example: Rustic or Eclat" ng-model="product.finish_type" ng-init="product.finish_type=''"> -->
                <div mass-autocomplete>
                    <input placeholder= 'finish type' class="form-control" ng-model="product.finish_type"  mass-autocomplete-item="finish_type_options">
                  </div>

              </div>
              <label class="col-lg-2 control-label">Product Look</label>
              <div class="col-lg-3">
                <!-- <select ui-jq="chosen" class="w-md" ng-model="product.look"ng-init="product.look=''">
                    <optgroup label="choose product look " >
                        <option ng-repeat="look in looks" value="{{look}}">{{look}}</option>
                     </optgroup>
                </select> -->
                <!-- <input type="text" class="form-control" placeholder="Example: Natural or Stone" ng-model="product.look" ng-init="product.look=''"> -->
                <div mass-autocomplete>
                    <input placeholder= 'product look' class="form-control" ng-model="product.look"  mass-autocomplete-item="look_options">
                  </div>

              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Product Url</label>
              <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="http://" ng-model="product.url" >
              </div>

              <label class="col-lg-2 control-label">Product Price</label>
              <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Price" ng-model="product.price">

              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Items Per Box </label>
              <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Number of items per box" ng-model="product.items_per_box" >

              </div>
              <label class="col-lg-2 control-label">Minimum Orders</label>
              <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Your Minimum Orders" ng-model="product.minimum_boxes" >

              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Product Code</label>
              <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Product code in your database" ng-model="product.seller_product_code" >

              </div>

                  <label class="col-lg-2 control-label">Choose Image</label>

                  <div class="col-lg-3">
                    <input type="file" class='btn btn-default form-control' nv-file-select="" uploader="uploader" ng-model="product.image" />
                  </div>
            </div>
            <!-- <div class="form-group">
            <label class="col-lg-2 control-label"style='padding-top:40px'>Colors</label>

							  <div class="col-lg-3 panel-body colors_cat">
								<ul id="cat_color">
									<li ng-click="selectColors({{$index+1}})" ng-repeat="color in colors"><a class="col-{{$index+1}}" val="{{$index+1}}" href></a></li>
								</ul>
							  </div>
              </div> -->
            <div class="form-group">
                  <label class="col-lg-2 control-label">Product Comment</label>
                   <div class="col-lg-3">
                  <textarea class="form-control" rows="4" placeholder="Your Comments" ng-model="product.comments" >
                  </textarea>
                </div>

                  <label class="col-lg-2 control-label">Special Features</label>
                   <div class="col-lg-3">
                  <textarea class="form-control" rows="4" placeholder="Type special features information about product here" ng-model="product.features" >
                  </textarea>
                </div>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-5 col-lg-10">
                <button type="submit" class="btn btn-sm btn-success" ng-disabled="addProduct.$invalid" ng-click="submitform(product);uploader.uploadAll();" >Add Product</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
