<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="houseviewCtrl">
  <div class="col" >
    <script type="text/ng-template" id="myModalContent.html">
         <div ng-include="'tpl/houserentmodal.html'"></div>
          </script>
           <script type="text/ng-template" id="myhouseContent.html">
         <div ng-include="'tpl/ownermodal.html'"></div>
          </script>
            <script type="text/ng-template" id="myinstallmentContent.html">
         <div ng-include="'tpl/installmentmodal.html'"></div>
          </script>
           <script type="text/ng-template" id="ownerselect.html">
         <div ng-include="'tpl/ownerselectmodal.html'"></div>
          </script>

           <script type="text/ng-template" id="tenantselect.html">
         <div ng-include="'tpl/tenantselectmodal.html'"></div>
          </script>
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-square">
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black">{{house.house_name}}</span>
                <small class="m-l">{{house.house_address}}</small>
              </div>
              <p class="m-b">
                <!--<a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>-->
              </p>
           <a ui-sref="app.update.houses({house_id : url})" class="btn btn-sm btn-success btn-rounded">update</a> <a href class="btn btn-sm btn-danger btn-rounded">Delete</a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">{{house.house_no_of_rooms}}</span>
                <small>Rooms</small>
              </a>
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">{{house.house_rent}}</span>
                <small>Per Month</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li class="active"><a href>Stream</a></li>
        <li><a href>Profile</a></li>
        <li><a href>Messages</a></li>
      </ul>
    </div>-->
     <div class="list-group">
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs">{{house.house_no_of_rooms}}</span>
          <i class="fa fa fa-phone fa-fw m-r-xs"></i> No of Rooms
        </a>
        
        <a href="" class="list-group-item">
        
          <span class="badge btn btn-xs btn-success m-t-xs bg-success">Rs. {{house.house_rent}} per Month</span>
          <i class="fa fa-phone fa-fw m-r-xs"></i> Rent
        </a>
         <a href="" class="list-group-item">
          <span class="badge  btn btn-xs btn-success m-t-xsbg-danger">{{house.house_fixed_date}}</span>
          <i class="fa fa-clock-o fa-fw m-r-xs"></i> Entry Date
        </a>
         <a href="" class="list-group-item">
          <span class="badge  btn btn-xs btn-success m-t-xsbg-danger">{{house.house_dthbill}}</span>
          <i class="fa fa-clock-o fa-fw m-r-xs"></i> DTH Bill
        </a>
          <a href="" class="list-group-item">
          <span class="badge  btn btn-xs btn-success m-t-xsbg-danger">{{house.house_dthbilldate}}</span>
          <i class="fa fa-clock-o fa-fw m-r-xs"></i> DTH Bill date
        </a>
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-info">{{house.house_totaldeposit}}</span>
          <i class="fa fa-comments-o fa-fw m-r-xs"></i>Total Deposit
        </a>
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-warning">{{totaldepositpaid(house.deposits)}}</span>
          <i class="fa fa-bookmark fa-fw m-r-xs"></i> Deposit Paid
        </a>
        
       
      </div>
  </div>
  <div class="col w-lg bg-light lter b-l bg-auto">
    <div class="wrapper">
      <div class="panel b-light clearfix" ng-show="!house.tenants[0].id">
        <div class="panel-body">
         <!--  <a href="" class="thumb pull-left m-r">
            <img src="img/a0.jpg" class="img-circle">
          </a> -->
          <div class="clear">
            <a href="" class="text-danger">No Tenant in this house</a>
            <small class="block text-muted">Add some tenant into the house</small>
            <a class="btn btn-xs btn-danger m-t-xs " ng-click="opentenantselect('lg')">Add tenant</a>
          </div>
        </div>
      </div>
      <div class="panel b-light clearfix" ng-show="!house.deposits[0].id">
        <div class="panel-body">
         <!--  <a href="" class="thumb pull-left m-r">
            <img src="img/a0.jpg" class="img-circle">
          </a> -->
          <div class="clear">
            <a href="" class="text-danger">No Security Deposit in this house</a>
            <small class="block text-muted">Add a Security Deposit</small>
            <a class="btn btn-xs btn-danger m-t-xs " ng-click="addnewInstallment('lg')">Add Security Deposit</a>
          </div>
        </div>
      </div>
     
       <div class="panel b-a" ng-show="house.tenants[0].id">
        <h4 class="font-thin padder">Current tenants</h4>
        <ul class="list-group">
        <li ng-repeat="tenant in house.tenants track by $index" class="list-group-item">
            <a ui-sref="app.tenant.details({tenant_id : tenant.id})" class="pull-left thumb-sm  m-r">
              <img src="img/a4.jpg" alt="..." class="img-square">
              <i class="on b-white bottom"></i>
            </a>
            <a ng-click="deletehousetenant(tenant)" class="btn btn-xs btn-danger m-t-xs pull-right">Delete</a>
            <div class="clear">
              <div><a href>{{tenant.name}}</a></div>
              <small class="text-muted">{{tenant.phone}}</small>
            </div>
          </li>
         
        </ul>
        <div class="panel-footer">
              <span class="pull-right badge badge-bg m-t-xs">{{house.tenants.length}}</span>
              <button class="btn btn-info btn-addon btn-sm" ng-click="opentenantselect('lg')"><i class="fa fa-plus" ></i>Add Tenant</button>
            </div>
      </div>
      <div class="panel b-a" ng-show="house.deposits[0].id">
        <h4 class="font-thin padder">All Security Deposits</h4>
        <ul class="list-group">
        <li ng-repeat="deposit in house.deposits track by $index" class="list-group-item">
            <a  class="pull-left thumb-sm  m-r">
              <img src="img/installment.png" alt="..." class="img-square">
              <i class="on b-white bottom"></i>
            </a>
            <span class="pull-right badge badge-bg bg-success m-t-xs" ng-show="deposit.status==1">Paid</span>
             <span class="pull-right badge badge-bg bg-danger m-t-md" ng-show="deposit.status==0">Unpaid</span>
            <div class="clear ">
              <div><a href>Rs. {{deposit.rent}} </a></div>
              <small class="text-muted">{{Days(deposit.date)}} days Left</small>
              <a ng-click="payinstallment(deposit)" class="btn btn-xs btn-danger m-t-xs" ng-show="deposit.status==0">Pay Now</a>
              <a ng-click="deletesecurityhouse(deposit)" class="btn btn-xs btn-danger m-t-xs" ng-show="deposit.status==0">Delete</a>
            </div>
          </li>
         
        </ul>
        <div class="panel-footer">
              <span class="pull-right badge badge-bg  m-t-xs">32</span>
              <button class="btn btn-info btn-addon btn-sm" ng-click="addnewInstallment('md')"><i class="fa fa-plus" ></i>Add Security Deposit</button>
            </div>
      </div>
      <div class="panel b-light clearfix" ng-show="!house.house_owner.name">
        <div class="panel-body">
         <!--  <a href="" class="thumb pull-left m-r">
            <img src="img/a0.jpg" class="img-circle">
          </a> -->
          <div class="clear">
            <a href="" class="text-danger">Please Update the house owner</a>
            <small class="block text-muted">Set the house owner details here</small>
            <a href="" class="btn btn-xs btn-danger m-t-xs " ng-click="openownerform('lg')">Set New Owner</a>
            <a href="" class="btn btn-xs btn-danger m-t-xs " ng-click="openownerselect('lg')">Set Existing Owner</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default"  ng-show="house.house_owner.name">
            <div class="panel-heading">
              <div class="clearfix">
                <a href="" class="pull-left thumb-md b-3x m-r">
                  <img src="img/a2.jpg" alt="..." >
                </a>
                <div class="clear">
                  <div class="h4 m-t-xs m-b-xs ">
                   {{house.house_owner.name}}
                    <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                  </div>
                  <small class="text-muted">House Owner</small>
                </div>
              </div>
            </div>
            <div class="list-group no-radius alt">
              <a class="list-group-item" href="">
                <span class="badge bg-success">{{house.house_owner.email}}</span>
                <i class="fa  fa-envelope-o fa-fw text-muted"></i> 
                Email
              </a>
              <a class="list-group-item" href="">
                <span class="badge bg-info">{{house.house_owner.phone}}</span>
                <i class="fa fa-phone fa-fw text-muted"></i> 
                Phone
              </a>
              <a class="list-group-item" href="">
                <span class="badge bg-light">{{house.house_owner.address}}</span>
                <i class="fa fa-building-o fa-fw text-muted"></i> 
               Address
              </a>
            </div>
            <div class="panel-footer">
             
              <button class="btn btn-info btn-addon btn-sm" ui-sref="app.update.owners({owner_id : house.house_owner.id})"><i class="fa fa-plus" ></i>Update Owner</button>
            </div>
          </div>
      <div class="panel b-a">
        <h4 class="font-thin padder">Bill Information</h4>
        <ul class="list-group">
        <li  class="list-group-item">
              <a href class="thumb pull-left m-r m-t-sm">
                <img src="img/houserent.jpg" class="img-square">
              </a>
              <div class="clear">
                  <a href class="h5">Monthly House Rent</a>
                  <small class="block text-muted">Rs {{house.house_rent}} / {{Days(house.house_entry_date)}}days left</small>
                  <a ng-click="open('sm','rent')" class="btn btn-xs btn-danger m-t-xs">Pay Now</a>
              </div>
            
          </li>
          <li class="list-group-item">
              <a href class="thumb pull-left m-r  m-t-sm">
                <img src="img/electricity.svg" class="img-square">
              </a>
              <div class="clear">
                  <a href class="h5">Monthly Electricity Bill</a>
                  <small class="block text-muted">Rs {{house.house_powerbill}} / {{Days(house.house_powerbilldate)}} days left</small>
                  <a ng-click="open('sm','electricity')" class="btn btn-xs btn-danger m-t-xs">Pay Now</a>
              </div>
            
          </li>
          <li class="list-group-item">
              <a href class="thumb pull-left m-r  m-t-sm">
                <img src="img/dthrent.jpg" class="img-square">
              </a>
              <div class="clear">
                  <a href class="h5 ">Monthly DTH Bill</a>
                 <small class="block text-muted">Rs {{house.house_dthbill}} / {{Days(house.house_dthbilldate)}} days left</small>
                  <a ng-click="open('sm','dth')" class="btn btn-xs btn-danger m-t-xs">Pay Now</a>
              </div>
            
          </li>
           <li class="list-group-item">
              <a href class="thumb pull-left m-r  m-t-sm">
                <img src="img/wifirent.png" class="img-square">
              </a>
              <div class="clear">
                  <a href class="h5 ">Monthly WIFI Bill</a>
                 <small class="block text-muted">Rs {{house.house_wifibill}} / {{Days(house.house_wifibilldate)}} days left</small>
                  <a ng-click="open('sm','wifi')" class="btn btn-xs btn-danger m-t-xs">Pay Now</a>
              </div>
            
          </li>
         
        </ul>
      </div>
       
     
    </div>
  </div>
</div>