<div class="bg-light lter b-b wrapper-md" >
  <h1 class="m-n font-thin h3"><i class="icon-magnifier i-sm m-r-sm"></i> Search</h1>
</div>
<div class="wrapper-md" ng-controller="houseCtrl">
  <form action="#" class="m-b-md" >
    <div class="input-group">
      <input type="text" ng-model="query" class="form-control input-lg" placeholder="Type keyword">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-default" type="button">Search</button>
      </span>
    </div>
  </form>
  <p class="m-b-md"><strong>{{sellers.length}}</strong> Results found for: <strong>{{query}}</strong></p>
  <tabset class="tab-container">
    <tab>
      <tab-heading>
        All <span class="badge badge-sm m-l-xs">{{sellers.length}}</span>
      </tab-heading>
      <ul class="list-group no-borders pull-in m-b-none">
         <li class="list-group-item" ng-repeat="seller in sellers = (seller | filter:query)">
           <a href="#" class="pull-left thumb-md m-r m-t">
            <img src="img/a0.jpg" alt="..." class="img-square">
          </a>
          <div class="clear">
          <a ui-sref="app.seller.details({seller_id: seller.id})" class="h4 text-primary m-b-sm m-t-sm block">{{seller.name}}</a>
          <p>{{seller.address}} </p>
          <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Info:</span> <a href class="m-r-sm">{{seller.storename}}</a> <a href>{{seller.phone}}</a>
          </p>
        </div>
        </li>
        
      </ul>
    </tab>
   
   
  </tabset>
</div>