<div class="bg-light lter b-b wrapper-md">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <h1 class="m-n font-thin h3">Edit Product</h1>
</div>
<div class="wrapper-md" ng-controller="EditProductCtrl" uploader="uploader" filters="queueLimit, customFilter">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs" >
                <li ng-class="{active: activeTab==1}"> <a ><span class="fa fa-home"> </span> General</a></li>
                <li ng-class="{active: activeTab==2}"> <a  ><span class="fa fa-edit"> </span> Seller Data</a></li>
                <li ng-class="{active: activeTab==3}"> <a  ><span class="fa fa-image"> </span> Images</a></li>
                <li class="required_info t-r pull-right"> <i> * fields are required </i> </li>
            </ul>
        </div>
        <div id="panel-collapse-1" class="collapse in bg-light gr" >
                <div class="panel-body">
                    <div class="tab-content">
                        <form name="editProductForm" class="form-validation editProductForm" >
                          <div ng-show="activeTab==1" class="tab-pane fade" ng-class="{active:activeTab==1 , in:activeTab==1}" id="panel-general">
                              <img src="{{product.images[0]}}" style="
                                  position: absolute;
                                  width: 150px;
                                  height: 150px;
                                  right: 5%;
                              "/>

                                <div class="form-group clearfix">

                                    <label class="col-sm-2 control-label">Product Name* <br></label>
                                    <div class="col-sm-8">
                                    <label class='control-label f-s-md'> <b> {{product.name}} </b> </label>
                                 <!--        <input type="text" class="form-control" name='name'ng-keyup="updateSuggestProducts();isOpen=1;" ng-click='isOpen=1'  placeholder="product name" ng-model="product.name" required>
                                        <div ng-show="generalDataChecked || editProductForm.name.$touched">
                                          <span class='form-error' ng-show="editProductForm.name.$error.required"> product name can't be empty</span>
                                        </div>
                                    

                                         <div class='dropdown' ng-show='searchResults' ng-class='{open:isOpen}' ng-mouseleave='isOpen=0'>
                                            <ul class="dropdown-menu suggestion" class='dropdown-menu' >
                                                
                                              <li class="m-b-xs clearfix" ng-repeat='suggest in searchResults'>
                                                <div class='col-sm-2'> <img ng-src ='{{suggest.product_img}}' style='width:50px;height:50px;'> </div>
                                                <div class='col-sm-5 padder-v'> {{suggest.product_name}} </div>
                                                <div class='col-sm-3 padder-v'> {{suggest.product_brand}} </div>
                                                <div class='col-sm-2 padder-v-sm'> <a class='btn btn-success' ui-sref="app.all.editproduct({productId: suggest.product_id})"> Edit</a> </div>
                                                 
                                              </li>
                                              
                                                </ul>
                                        </div> -->
                                    </div>   
                                </div>    
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Product Type* </label>
                                    <div class="col-sm-8">
                                    <label class='control-label f-s-md'> <b> {{selectedType}} </b> </label>
                                        <!-- <select class="form-control" name='type' ng-model="product.type" ng-click="selectType(product.type);">
                                            <option ng-repeat="product_type in product_types" value="{{product_type.value}}">{{product_type.name}}</option>
                                        </select> -->
                                    </div>
                                </div>
                             
                             
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label" ng-click='alertMe()'>Product Brand*</label>
                                    

                                    <div class="col-sm-8" mass-autocomplete>                                    
                                        <label class="control-label"> {{product.brand}}</label>

<!--                                         <input placeholder='select a brand' class="form-control" name='brand' ng-model="product.brand" mass-autocomplete-item="brand_options" ng-keyup="addNewBrandInList()" required>
                                        <div ng-show="generalDataChecked || editProductForm.brand.$touched">
                                          <span class='form-error' ng-show="editProductForm.brand.$error.required"> product brand can't be empty</span>
                                        </div>
 -->                                        
                                    </div>

                                </div>  
                                    <!-- <select  ui-jq="chosen" ui-refresh="chosen" class="w-md" ng-model="product.brand" ng-init="product.brand=''">
                    <optgroup label="choose from brands <span ng-click='alertMe()'> click </span>" >
                        <option ng-repeat="brand in brands" value="{{brand}}">{{brand}}</option>
                     </optgroup>

                </select> -->
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label ">Product Size*</label>
                                    <div class="col-sm-8 form-inline size_info" style="padding:0px;">
                                        <!-- 
                                        <input placeholder='width' class="form-control" ng-model="product.width">
                                            
                                        <input placeholder='height' class="form-control" ng-model="product.height"> -->
                                    <div class="col-md-4 col-sm-12">
                                         <div class="input-group">
                                            <input placeholder='width' class="form-control" name='width'ng-model="product.width" ng-pattern="/^[0-9]+$/" required>
                                        <div class="input-group-btn"> <select  class="form-control pull-right" name='w_unit' ng-model ="product.w_unit" placeholder="unit">
                                                <option  value="ft"> ft</option> <option  value="inch">inch</option> <option  value="cm">cm</option> <option  value="mm">mm</option>
                                        </select> </div>
                                        
                                         </div>
                                     <div ng-show="generalDataChecked || editProductForm.width.$touched">
                                          <span class='form-error' ng-show="editProductForm.width.$error.required">provide width of product</span>
                                          <span class='form-error' ng-show="editProductForm.width.$error.pattern">width must be integer</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="input-group">    
                                       <input placeholder='height' class="form-control" name='height' ng-model="product.height" ng-pattern="/^[0-9]+$/" required>
                                       <div class="input-group-btn">
                                         <select  class="form-control pull-right" name='h_unit' ng-model ="product.w_unit" placeholder="unit">
                                                <option  value="ft"> ft</option> <option  value="inch">inch</option> <option  value="cm">cm</option> <option  value="mm">mm</option>
                                        </select>
                                        </div>                                        
                                     </div> 
                                     <div ng-show="generalDataChecked || editProductForm.height.$touched">
                                          <span class='form-error' ng-show="editProductForm.height.$error.required">provide height of product </span>
                                          <span class='form-error' ng-show="editProductForm.height.$error.pattern">height must be integer</span>
                                        </div> 
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="input-group">
                                       <input placeholder='thickness (optional)' class="form-control" name='thickness' ng-pattern="/^[0-9]+$/" ng-model="product.thickness">
                                       <div class="input-group-btn">
                                           <select  class="form-control pull-right" name='h_unit' ng-model ="product.t_unit" placeholder="unit">
                                                <option  value="ft"> ft</option> <option  value="inch">inch</option> <option  value="cm">cm</option> <option  value="mm">mm</option>
                                        </select>
                                         </div>
                                         
                                     </div>
                                     <div ng-show="editProductForm.thickness.$touched">
                                           
                                          <span class='form-error' ng-show="editProductForm.thickness.$error.pattern">thickness must be integer</span>
                                        </div>
                                    </div> 
                                            
                                          
                                    </div>
                                  </div>
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Product Usages* <br><em class='text-muted'>(choose multiple)</em></label>
                                    <div class="col-sm-10 form-inline">
                                         
                                        <div class="checkbox custom-checkbox form-group" ng-repeat="usage in usages"  ng-click="selectedUsages[$index] = !selectedUsages[$index];selectUsage($index);isUsagesOk()">
                                        <label >
                                            <input  type="checkbox" ng-model="selectedUsages[$index]" ng-checked="selectedUsages[$index]"  > 
                                            
                                            <span class="fa fa-check"></span>
                                            {{usage}}
                                        </label>
                                        </div>
                                        <div ng-show="!usagesFieldOk">
                                          <span class='form-error'>choose one or more usages</span>
                                        </div>
                                    </div>
                                </div>  
  
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Items Per Box* </label>                                    
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name='items_per_box' placeholder="Number of items per box" ng-model="product.items_per_box" ng-pattern="/^[0-9]+$/" required>
                                        <div ng-show="generalDataChecked || editProductForm.items_per_box.$touched">
                                          <span class='form-error' ng-show="editProductForm.items_per_box.$error.required">provide total items in a box</span>
                                          <span class='form-error' ng-show="editProductForm.items_per_box.$error.pattern"> items per box must be integer</span>
                                        </div>                                    
                                    </div>

                                </div>  

                                
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Product Applications* <br><em class='text-muted'>(choose multiple)</em></label>
                                    <div class="col-sm-10 form-inline">
                                         

                                        <div class="checkbox custom-checkbox form-group" ng-repeat="application in applications"  ng-click="selectedApplications[$index] = !selectedApplications[$index];selectApplication($index);isApplicationsOk()">
                                        <label >
                                            <input  type="checkbox" ng-model="selectedApplications[$index]" ng-checked="selectedApplications[$index]" >
                                            
                                            <span class="fa fa-check"></span>
                                            {{application}}
                                        </label>
                                        </div>
                                        <div ng-show="!applicationsFieldOk">
                                          <span class='form-error'>choose one or more applications</span>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="form-group clearfix">

                                    <label class="col-sm-2 control-label">Product Material*</label>
                                    <div class="col-sm-8 ">

                                        <div mass-autocomplete>
                                            <input placeholder='select a material' class="form-control" name='material' ng-model="product.material" mass-autocomplete-item="material_options" required>
                                            <div ng-show="generalDataChecked || editProductForm.material.$touched">
                                          <span class='form-error' ng-show="editProductForm.material.$error.required">provide a product material type</span>
                                        </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="form-group clearfix m-b-xs">
                                    <label class="col-sm-2 control-label">Colors* <br><em class='text-muted'>(choose multiple)</em></label>

                                    <div class=" colors_cat col-sm-10">
                                        
                                        <ul id="cat_color"> 
                                            <li ng-class="{'active':selectedColors[$index]}" ng-click="selectedColors[$index]=!selectedColors[$index];isColorsOk()" ng-repeat="color in colors">
                                                <a class="col-{{$index+1}}" val="{{$index+1}}" href></a>
                                            </li>
                                        </ul>  
                                         

                                    </div>
                                 </div>
                                 <div ng-show="!colorsFieldOk" class='form-group clearfix m-t-n'> 
                                          <span class='form-error padder'>choose one or more colors</span>
                                        </div>
                               
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Product Shape</label>
                                    <div class="col-sm-8">

                                        <div mass-autocomplete >
                                            <input placeholder='select a product shape (optional)' class="form-control" name='product_shape'ng-model="product.shape" mass-autocomplete-item="shape_options">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Product Finish</label>
                                    <div class="col-sm-8">

                                        <div mass-autocomplete>
                                            <input placeholder='finish type (optional)' class="form-control" name='finish_type' ng-model="product.finish_type" mass-autocomplete-item="finish_type_options">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Product Look</label>
                                    <div class="col-sm-8">

                                        <div mass-autocomplete>
                                            <input placeholder='product look (optional)' class="form-control" name='look' ng-model="product.look" mass-autocomplete-item="look_options">
                                        </div>

                                    </div>
                                </div>
                                
                              <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Origin Country</label>
                                     
                                        <div class="col-sm-8">
                                            <div mass-autocomplete>
                                              <input placeholder='origin country of product (optional)' class="form-control" name='origin_country' ng-model="product.origin_country" mass-autocomplete-item="country_options" >
                                            </div>    
                                        <!-- <div mass-autocomplete>
                                            <input placeholder='origin country of product' class="form-control" ng-model="product.origin_country" mass-autocomplete-item="country_options">
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Degree of Variation</label>
                                    <div class="col-sm-8 ">
                                        <input type="text" class="form-control" name='variation'placeholder="product degree variation (optional)" ng-model="product.variation">
                                    </div>
                                </div>
                                
                                 <div class="form-group clearfix">
                                    <label class="col-sm-2 control-label">Product Description*</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name='features' rows="4" placeholder="Type all special features and information here" ng-model="product.features" required>
                                        </textarea>
                                        <div ng-show="generalDataChecked || editProductForm.features.$touched">
                                          <span class='form-error' ng-show="editProductForm.features.$error.required">please provide product description</span>
                                        </div>
                                    </div>
                                    

                                </div>
                             
                        <!--     <div class="row">
                        <div class="form-group clearfix">
                              <label class="col-lg-2 control-label">Product Comment</label>
                               <div class="col-lg-3">
                              <textarea class="form-control" rows="4" placeholder="Your Comments" ng-model="product.comments" >
                              </textarea>
                            </div>

                              
                            
                        </div>
                      </div> -->

                            <div class="form-group clearfix">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6 proceed-fwd">
                                    <a class="btn btn-default pull-right" ng-click="checkProductData()">Save & Proceed <i class="fa fa-arrow-right" /></a>
                                </div>
                            </div>

                        </div>
                     
                        <div ng-show="activeTab==2" class="tab-pane fade" ng-class="{active:activeTab==2 ,in:activeTab==2}" id="panel-colors">

                            <div class="row">
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Box Price*</label>
                                    <div class="col-lg-3">
                                        <div class="input-group">
                                        <span class="input-group-addon">Rs.</span>
                                        <input type="text" class="form-control" name='price' placeholder="Price" ng-model="product.price" ng-pattern="/^[0-9]+$/" required>
                                        
                                    </div>
                                    <div ng-show="sellerDataChecked || editProductForm.price.$touched">
                                          <span class='form-error' ng-show="editProductForm.price.$error.required">provide price per box</span>
                                          <span class='form-error' ng-show="editProductForm.price.$error.pattern">price must be integer</span>
                                        </div>
                                    </div>
                                    <label class="col-lg-2 col-lg-offset-1  control-label">Product Code / SKU</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" name='seller_product_code' placeholder="Product code in your database" ng-model="product.seller_product_code">

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Total Quantity* </label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" name='total_boxes' placeholder="total numbers of boxes" ng-model="product.total_boxes" ng-pattern="/^[0-9]+$/" required>
                                        <div ng-show="sellerDataChecked || editProductForm.total_boxes.$touched">
                                          <span class='form-error' ng-show="editProductForm.total_boxes.$error.required">provide a valid total quantity </span>
                                          <span class='form-error' ng-show="editProductForm.total_boxes.$error.pattern">total quantity must be integer</span>
                                        </div>
                                    </div>
                                    <label class="col-lg-2 col-lg-offset-1  control-label">Minimum Orders*</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" name='minimum_boxes' placeholder="Your Minimum Orders" ng-model="product.minimum_boxes" ng-pattern="/^[0-9]+$/" required>
                                        <div ng-show="sellerDataChecked || editProductForm.minimum_boxes.$touched">
                                          <span class='form-error' ng-show="editProductForm.minimum_boxes.$error.required">provide minimum order for this product</span>
                                          <span class='form-error' ng-show="editProductForm.minimum_boxes.$error.pattern">orders must be integer</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group clearfix">
                                    
                                    <label class="col-lg-2 control-label">Seller Comment</label>
                                    <div class="col-lg-9">
                                        <textarea class="form-control" name='comments'rows="4" placeholder="Your Comments for product" ng-model="product.comments">
                                        </textarea>
                                         
                                    </div>


                                </div>
                            </div>


                            <div class="form-group clearfix">
                                <div class="col-sm-6 proceed-bck">
                                    <a class="btn btn-default" ng-click="activeTab=1"><i class="fa fa-arrow-left" /> Back </a>
                                </div>
                                <div class="col-sm-6 proceed-fwd ">
                                    <a class="btn btn-default pull-right" ng-click="checkSellerData()">Save & Proceed <i class="fa fa-arrow-right" /></a>
                                </div>
                            </div>
                        </div>
                     
                        <div ng-show="activeTab==3" class="tab-pane fade" ng-class="{active:activeTab==3, in:activeTab==3}" id="panel-images">
                             
                                                        
                            <!-- <div class="form-group clearfix">
                                <div class="col-lg-3 bg-light b-r bg-auto">
                                <div class="wrapper-md dker b-b">
                                  <h3 class="m-n font-thin">Select Images </h3><em class="text-muted">(maximum 5)*</em>
                                </div>
                                <div class="wrapper-md">
                                    <label> Main Image:*</label>
                                    <input type="file" nv-file-select="" uploader="uploader" ng-click="uploader.queue.length=0" required/>                                         
                                  <label> Other Images:</label>
                                  <input ng-disabled="uploader.queue.length<1" type="file" nv-file-select="" uploader="uploader" multiple  />
                                </div>

                              </div>
                              <div class="col-lg-9">
                                <div class="wrapper-md bg-light dk b-b">
                                  
                                  <h3 class="m-n font-thin">Selected Images</h3>      
                                </div> 
                                  <table class="table bg-white-only b-a">
                                      <thead>
                                          <tr>
                                              <th width="40%">Name</th>
                                              <th >Preview </th>
                                              <th ng-show="uploader.isHTML5">Size</th>
                                              <th ng-show="uploader.isHTML5">Progress</th>
                                              <th>Status</th>
                                              <th>Actions</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="item in uploader.queue">
                                              <td><strong>{{ item.file.name }}</strong></td>
                                              <td>    
                                      </td>
                                              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                              <td ng-show="uploader.isHTML5">
                                                  <div class="progress progress-sm m-b-none m-t-xs">
                                                      <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                  </div>
                                              </td>
                                              <td class="text-center">
                                                  <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                                                  <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                  <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                              </td>
                                              <td nowrap>
                                                    
                                                  <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                                                      Remove
                                                  </button>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                                    
                              </div>
                          </div> -->
        <div class="row">
                            <div class="col-md-12">
                                 
                              <div class="clearfix col-md-12 bd-brown no-padder">
                                <h3 class='padder padder-v m-n'style='background-color: #E3FFEB;'>
                                <a name="image-example" class="anchor" href=""><span class="octicon octicon-link"></span></a>Main Image* <em class="text-muted small">(single)</em> <em class="text-muted small pull-right">**required**</em> </h3>
                               
                            
                                <div class="m-t-sm m-b-sm  col-md-4 padder-v align-center">
                                 <div class='col-md-12 bd-brown'>
                                <div class="btn btn-sm btn-primary m-t-xxl fileupload" ng-click="uploaders[0].clearQueue()" ng-disabled='product.images.length!=0'>                  
                                    <small class="m-s"> <span class="fa fa-camera" ></span> Select image </small>  
                                     
                                    <input type="file" id="fileInput" nv-file-select="" accept="image/jpg,image/jpeg" class="upload" uploader="uploaders[0]" >
                               </div>
                                 
                                <p class='m-t-sm m-b-xxl small'>Only JPG,JPEG files allowed(max 2MB).</p>
                               </div>
                             

                               <!--  <div class="btn btn-sm btn-primary m-t-lg fileupload" ng-click="uploaders[0].clearQueue()" ng-disabled='product.images.length!=0'>                  
                                    <small class="m-s"> <span class="fa fa-camera" ></span> Select image </small>  
                                     
                                    <input type="file" id="fileInput" nv-file-select="" class="upload" uploader="uploaders[0]" >
                               </div> 
                                 
                                <p class='m-t-sm small'>Only PNG,GIF,JPG,JEPG files allowed.</p> -->
                            </div>
                            <div class="m-t-sm m-b-sm  col-md-4 padder-v align-center" >
                                 <div class='col-md-12 bd-brown padder-v-xs'>
                                    <img src="{{product.images[0]}}" style='width:150px;height:150px;'ng-show='uploaders[0].queue.length==0' >
                                    
                                </div>
                                <div ng-repeat='item in uploaders[0].queue'>   
                                         <div ng-thumb="{ file: item._file, height: 150,width:200 }" ng-show='$index==0'></div>
                                         <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                  Remove
                                                              </button>
                                    </div>
                            </div>

                            <!-- <div class="thumbnail col-md-6 align-center"  >
                                <img src="{{product.images[0]}}" style='width:150px;height:150px;'ng-show='uploaders[0].queue.length==0' >
                                   <div ng-repeat='item in uploaders[0].queue'>   
                                         <div ng-thumb="{ file: item._file, height: 150,width:200 }" ng-show='$index==0'></div>
                                         <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                  Remove
                                                              </button>
                                    </div>
                            </div> -->
                             
                            
                            </div>

                           <div class="clearfix col-md-12 bd-brown no-padder m-t-sm">
                                <h3 class='padder padder-v m-n'style='background-color: #E3FFEB;'>
                                <a name="image-example" class="anchor" href=""><span class="octicon octicon-link"></span></a>Concept Images <em class="text-muted small">(maximum 2)</em> <em class="text-muted small pull-right">**It is good to add concept Images**</em> </h3>
                            
                            <div class="m-t-sm m-b-sm  col-md-4 padder-v align-center" ng-repeat='concept in product.concepts'>
                                 <div class='col-md-12 bd-brown padder-v-xs'>
                                                       
                                    <img ng-src="{{product.concepts[$index]}}" style='width:250px;height:155px;'  >
 
                                </div>
                            </div>

                             <div class='m-t-sm m-b-sm  col-md-4 padder-v align-center' ng-repeat='item in uploaders[1].queue' >   
                                    <div class='col-md-12 bd-brown padder-v-xs' ng-thumb="{ file: item._file, height: 155,width:250 }" > </div>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                  Remove
                                                              </button>
                             </div>
                             <div class="m-t-sm m-b-sm  col-md-4 padder-v align-center">
                                 <div class='col-md-12 bd-brown'>
                                <div class="btn btn-sm btn-primary m-t-xxl fileupload" ng-class='{disabled:uploaders[1].queue.length>=2}'>                  
                                    <small class="m-s"> <span class="fa fa-camera"></span> Add Concepts </small>  
                                     
                                    <input type="file" id="fileInput" nv-file-select="" accept="image/jpg,image/jpeg" class="upload" uploader="uploaders[1]">
                               </div> 
                                 
                                <p class='m-t-sm m-b-xxl small'>Only JPG,JPEG files allowed(max 2MB).</p>
                               </div>
                            </div>

                         </div>

 
                <div class="clearfix col-md-12 bd-brown m-t-sm no-padder">
                     <h3 <h3 class='padder padder-v m-n'style='background-color: #E3FFEB;'><a name="basic-example" class="anchor" href=""><span class="octicon octicon-link"></span></a>Choose Other Images <em class="text-muted small">(choose multiple)</em> <em class="text-muted small pull-right">**max 4 other images allowed**</em></h3> 
                  
                    
                    <div class="m-t-sm m-b-sm  col-md-4 padder-v align-center" ng-repeat='other in product.images' ng-show='product.images.length>1&&$index>0'>
                                 <div class='col-md-12 bd-brown padder-v-xs'>
                                                       
                                    <img ng-src="{{product.images[$index]}}" style='width:250px;height:155px;' >
 
                                </div>
                        </div>

                    <div class='m-t-sm m-b-sm  col-md-4 padder-v align-center' ng-repeat='item in uploaders[2].queue' >   
                                    <div class='col-md-12 bd-brown padder-v-xs' ng-thumb="{ file: item._file, height: 155,width:250 }" > </div>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                  Remove
                                                              </button>
                        </div>

                    <div class="m-t-sm m-b-sm  col-md-4 padder-v align-center">
                        <div class='col-md-12 bd-brown'>
                                <div class="btn btn-sm btn-primary m-t-xxl fileupload" ng-class='{disabled:uploaders[2].queue.length>=4}'>                  
                                    <small class="m-s"> <span class="fa fa-camera"></span> Other Images </small>  
                                     
                                    <input type="file" id="fileInput" nv-file-select="" accept="image/jpg,image/jpeg" class="upload"  uploader="uploaders[2]">
                               </div> 
                                 
                                <p class='m-t-sm m-b-xxl small'>Only JPG,JPEG files allowed(max 2MB)</p>
                        </div>
                    </div>
                     
                </div>
            </div>
         
    </div> 
                            <div class="form-group clearfix m-t-sm">
                                
                                <div class="col-md-6 col-lg-4 m-t-sm">
                                    <a class="btn btn-default" ng-click="activeTab=2"><i class="fa fa-arrow-left" /> Back  </a>
                                </div>
                                <div class="col-md-6 col-lg-4 " ng-init='hideSubmitButton=0' >
                                    <button type="submit" style='height:40px;' class="btn btn-lg btn-sp btn-v" ng-show='hideSubmitButton==0' ng-disabled="editProductForm.$invalid||(product.images.length==0&&uploaders[0].queue.length==0)" ng-click="hideSubmitButton=1;submitForm(product)">Save Product  </button>
                                    <button class="btn btn-lg btn-info" ng-show='hideSubmitButton==1'><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Updating Product...</button>
                                </div>

                            </div>
 
                        </div>
                        <!-- /#panel-image -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.panel-body -->


            </form>
        </div>
        <!-- /.collapse in -->
    </div>

</div>