<div class="modal-header">
    <h3 class="modal-title">Rent Submission!</h3>
</div>
<div class="modal-body">
	
   <p ng-show="items.type == 'rent'">Are you sure that you have paid Rs {{items.house_rent}} to Mr. {{items.house_owner.name}} ???</p>
   <p ng-show="items.type == 'electricity'">Are you sure that you have paid Rs {{items.house_powerbill}} to Mr. {{items.house_owner.name}} ???</p>
   <p ng-show="items.type == 'dth'">Are you sure that you have paid Rs {{items.house_dthbill}} to Mr. {{items.house_owner.name}} ???</p>
    <p ng-show="items.type == 'wifi'">Are you sure that you have paid Rs {{items.house_wifibill}} to Mr. {{items.house_owner.name}} ???</p>
</div>
<div class="modal-footer">                  
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="ok()">OK</button>
</div>