<div class="modal-over bg-black" ng-controller="loginCtrl">
  <div class="modal-center animated fadeInUp text-center" style="width:200px;margin:-100px 0 0 -100px;">
    <div class="thumb-lg">
      <img src="img/a0.jpg" class="img-square">
    </div>
    <p class="h4 m-t m-b">Admin ShiningFloor</p>
    <div class="input-group" >
      {{test}}
      <input type="password" class="form-control text-sm btn-rounded no-border" ng-model="password" ng-keyup="checklogin(password)" placeholder="Enter pwd to continue">
      <span class="input-group-btn">
        <a  ng-click="checklogin(password)" class="btn btn-success btn-rounded no-border"><i class="fa fa-arrow-right"></i></a>
      </span>
    </div>
  </div>
</div>