<div ng-controller="hnewCtrl">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><i class="icon-magnifier i-sm m-r-sm"></i> Select Product for {{seller.storename}} of {{seller.name}}</h1>
</div>
<div class="wrapper-md" >
 
    <form action="#" >
       <div class = "sf-super-search col-md-2 col-xs-12"> 
                <div class = "search-options" style='height:42px;'>
 
                 <input type="text" ng-model="searchQuery" class="form-control input-lg" placeholder="Type keyword" ng-keyup="updateUrlChanges()" >
                        </div>
        </div>

        <div class = "sf-super-search col-md-2 col-xs-12"> 
                <div class = "search-options" ng-click="chooseDropdown(3)"> 
                     
                    <span class="dropdown-label" ng-show="selectedCategory" > Category <i style='margin-left:5px' class='fa fa-caret-down'> </i></span> 

                     <div    class="ss-dropdown" tabindex="4" data-attr_value="61">
                    <ul ng-show="selectedDropdown[3]" class="show-dropdown" style="top:-10px;padding:0px">

                 
                    <li ng-repeat="category in categoryFilters" class="selected">
                            <a class="ss-option"  ng-click="selectedcategory($index); updateUrlChanges()" href     data-attr_value="61">{{category}}</a><i ng-class="{'fa fa-check' : selectedCategory[$index] }"></i>
 
                        </li>

                        </ul>
            </div></div></div>
           


        <div class = "sf-super-search col-md-2 col-xs-12"> 
                <div class = "search-options"  ng-click="chooseDropdown(4)">
                    <span>Brands <i style='margin-left:5px' class='fa fa-caret-down'> </i> </span>  
                <div    class="ss-dropdown" tabindex="4" data-attr_value="61">
                    <ul ng-show="selectedDropdown[4]" class="show-dropdown" style="top:-10px;padding:0px">
                        
                        <li ng-repeat="brand in brandFilters"  class="selected">
                            <a class="ss-option" ng-click="selectedBrands[$index] = !selectedBrands[$index];updateUrlChanges()" href     data-attr_value="61">{{brand}}</a><i ng-class="{'fa fa-check' : selectedBrands[$index]}"></i>
                        </li>
                         
                    </ul>
                 </div> 
                        </div>
        </div>
        <div class = "sf-super-search col-md-2 col-xs-12"> 
                <div class = "search-options" ng-click="chooseDropdown(0)" >
                    <span >Applications <i style='margin-left:5px' class='fa fa-caret-down'> </i></span> 
                <div    class="ss-dropdown" tabindex="4" data-attr_value="61">
                    <ul ng-show="selectedDropdown[0]" class="show-dropdown" style="top:-10px;padding:0px">
                         
                        <li ng-repeat="application in applicationFilters"  class="selected">
                            <a class="ss-option" ng-click="selectedApplications[$index] = !selectedApplications[$index];updateUrlChanges()" href     data-attr_value="61">{{application}}</a><i ng-class="{'fa fa-check' : selectedApplications[$index]}"></i>
                        </li>
                         
                    </ul>
                 </div> 
                        </div>
        </div>
        <div class = "sf-super-search col-md-2 col-xs-12"> 
                <div class = "search-options" ng-click="chooseDropdown(1)">
                    <span >Finish Types <i style='margin-left:5px' class='fa fa-caret-down'> </i></span>  
                <div    class="ss-dropdown" tabindex="4" data-attr_value="61">
                     <ul ng-show="selectedDropdown[1]" class="show-dropdown" style="top:-10px;padding:0px; height: 185px; overflow-y: scroll;">
                        
                        <li ng-repeat="finish_type in finishTypeFilters"  class="selected">
                            <a class="ss-option" ng-click="selectedFinishTypes[$index] = !selectedFinishTypes[$index];updateUrlChanges()" href     data-attr_value="61">{{finish_type}}</a><i ng-class="{'fa fa-check' : selectedFinishTypes[$index]}"></i>
                        </li>
                         
                    </ul>
                 </div> 
                        </div>
        </div> 

        <div class = "sf-super-search col-md-2 col-xs-12"> 
                <div class = "search-options" ng-click="chooseDropdown(2)">
                    <span > Colors <i style='margin-left:5px' class='fa fa-caret-down'> </i></span> 
                <div    class="ss-dropdown" tabindex="4" data-attr_value="61">
                    <ul ng-show="selectedDropdown[2]" class="show-dropdown" style="top:-10px; height: 185px;padding:0px; overflow-y: scroll;">
                        
                        <li ng-repeat="color in colors"  class="selected">
                            <a class="ss-option" ng-click="selectedColors[$index] = !selectedColors[$index];updateUrlChanges()" href     data-attr_value="61">{{color}}</a><i ng-class="{'fa fa-check' : selectedColors[$index]}"></i>
                        </li>
                         
                    </ul>
                 </div> 
                        </div>
        </div>   
        
 
    </form>
    
    <p class="m-b-md m-l-md"><strong>{{bigTotalItems}}</strong> Results found for: <strong>{{searchQuery}}</strong> <strong>{{categoryHTML}}</strong>  <strong>{{brandHTML}}</strong> <strong>{{applicationHTML}}</strong><strong>{{finishTypeHTML}}</strong><strong>{{colorHTML}}</strong>  <span style = 'margin-left:10px; margin-top:10px;'> reset Filters <i ng-click='resetAll()' class="icon-reload"></i></span></p>


    <div class="wrapper-md">
        <div class="row">
            <h4 class="m-t-xs text-center">All products</h4>
            <div class="col-md-4" ng-repeat="product in products = (product | filter:quedsadsadsary)">
                <div class="panel b-a">
                    <div class="panel-heading no-border bg-black lter">
                        <span class="h4 text-lt text-u-c">{{product.product_name}}/{{product.product_id}}</span>
                    </div>
                    <div class="item m-l-n-xxs m-r-n-xxs">
                        <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">

                        </div>
                        <div class="center text-center w-full" style="margin-top:-60px">
                            <div ui-jq="easyPieChart" ui-refresh="x" ui-options="{
                percent: 0,
                lineWidth: 60,
                trackColor: 'rgba(255,255,255,0)',
                barColor: 'rgba(35,183,229,0.7)',
                scaleColor: false,
                size: 120,
                lineCap: 'butt',
                rotate: 0,
                animate: 1000
              }" class="inline easyPieChart" style="width: 120px; height: 120px; line-height: 120px;">
                                <canvas width="120" height="120"></canvas>
                            </div>
                        </div>
                        <div class="bottom wrapper w-full bg-gd-dk text-white">
                            <div class="h3 m-b-sm text-white-lter">{{product.product_brand}}</div>
                            <div>{{product.product_application}}- {{product.product_category}}</div>
                            <div>{{product.product_finish_type}}- {{product.product_size}}</div>
                        </div>
                        <img ng-src="{{product.product_img}}" class="img-full" width=350 height=197>
                    </div>
                
        <div class="panel-footer bg-light lter wrapper">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="text-muted block">Look</small>
                                <span class="text-md">{{product.product_look}}</span>
                            </div>
                            <div class="col-xs-4">
                                <small class="text-muted block">Finish</small>
                                <span class="text-md">{{product.product_finish_type}}</span>
                            </div>
                            <div class="col-xs-4">
                                <small class="text-muted block">Size</small>
                                <span class="text-md" ng-show='product.product_width!=0'>{{product.product_width}}</span>
                                <span class="text-md" ng-show='product.product_height!=0'>* {{product.product_height}}</span>
                                <span class="text-md">{{product.product_w_unit}}</span> 
                            </div>
                        </div>
                    </div>
                

               <div class="panel panel-default  m-b-n-sm pos-rlt">
                                    
                   <!--  <div class="panel-body" ng-show="temp">
                       <form name="detailsForm" class="form-validation" novalidate>   
                                              
                        <div class="form-group pull-in clearfix">
                          <div class="col-sm-6">
                           <input type="text" class="form-control"  placeholder="Price"  ng-model="product.price" id="pricefield{{product.product_id}}" required  ng-pattern="/^[0-9]+$/">

                            
                          </div>
                          <div class="col-sm-6">
                            
                            <input type="text" class="form-control" placeholder="Tiles Per Box"  required  id="tilesperboxtfield{{product.product_items_per_box}}" ng-model="product.product_items_per_box" ng-pattern="/^[0-9]+$/">
                          </div>
                        </div>
                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Product Code"  required   id="sellercodefield{{product.seller_product_code}}" ng-model="product.seller_product_code" ng-pattern="/^[0-9]+$/">
                           </div>
                          
                           <div class="col-sm-6">
                              <input type="text" class="form-control" placeholder="Minimum Orders"  required   id="sellercodefield{{product.minimum_boxes}}" ng-model="product.minimum_boxes" ng-pattern="/^[0-9]+$/">
                           </div>
                        </div>
                        <div class="form-group">
                          
                          <textarea class="form-control" rows="6" placeholder="Comment on Product" id="coomenttextarea{{product.product_id}}" ng-model="product.product_comments" required> </textarea>
                        </div>
                        </form>
                    </div> -->
                    <footer class="panel-footer text-right bg-light lter">
                       <button type="submit" class="btn btn-success btn-addon"    ng-click="temp = !temp;fetchProduct(product)"><i class="fa fa-plus"></i>Select & Edit</button>
<!--                          <button type="submit" class="btn btn-danger" ng-click="temp = !temp"  ng-show="temp">Cancel</button>
                      <button type="submit" class="btn btn-success" ng-disabled="detailsForm.$invalid" ng-show="temp" ng-click="selectproduct(product)">Submit</button>
 -->
                    </footer>
                 
                </div>
                 
              </div>
              </div>
                     
                </div>
            </div>
        </div>
         <div class="text-center">
        
        <h4>Limit the maximum visible buttons <span class="text-sm">(Page: {{bigCurrentPage}}/{{bigTotalItems}} / {{numPages}})</span></h4>
          <!-- <pagination total-items="bigTotalItems" items-per-page="30" ui-scroll="app" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-lg m-t-sm m-b" boundary-links="true" ng-change="pagechange(bigCurrentPage)" num-pages="5" ></pagination>
 -->

        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-md m-t-sm m-b" items-per-page="30" boundary-links="true" ng-change="pagechange(bigCurrentPage)" direction-links="false" num-pages="numPages"></pagination>

       <!--  <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" ></pagination> -->
      </div>
<div class="clearfix quick-view " id="quickview-template" style="display:block" ng-show="showpopup">
  <div class="overlay"></div>
  <div class="content clearfix l-box" > 
    <div class="bg-light lter b-b wrapper-md ng-scope">
  <h1 class="m-n font-thin h3">Edit Product: </h1>
</div>

    <div class="panel with-nav-tabs">
        <div class="panel-heading no-border bg-primary">
           
            <ul class="nav nav-tabs" ng-init="t1=1">
                <li ng-class="{active: t1}"> <a href ng-click="t1=1;t2=0;t3=0;"><span class="fa fa-home"> </span> General</a></li>
                <li ng-class="{active: t2}"> <a ng-click="t1=0;t2=1;t3=0;"><span class="fa fa-edit"> </span> Seller Data</a></li>
                <li ng-class="{active:t3}"> <a ng-click="t1=0;t2=0;t3=1;"><span class="fa fa-image"> </span> Images</a></li>
                <li class="required_info t-w pull-right"> <i> * fields are required </i> </li>
            </ul>
        </div>
        <div id="panel-collapse-1" class="collapse in">
            <form name="editProduct" class="form-validation editproductform" >
                <div class="panel-body">
                    <div class="wrapper-lg">
                        <div ng-show="t1" class="tab-pane fade" ng-class="{active:t1 , in:t1}" id="panel-general">
                             
                                <div class="form-group clearfix">

                                    <label class="col-lg-2 control-label">Product Name*</label>
                                    <div class="col-lg-8 ">
                                        <input type="text" class="form-control" placeholder="product name" ng-model="product.name" required>
                                    </div>
                                </div>    
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Type* </label>
                                    <div class="col-lg-8 ">
                                        <select class="form-control" ng-model="product.type" ng-click="selectType(product.type);">
                                            <option ng-repeat="product_type in product_types" value="{{product_type.value}}">{{product_type.name}}</option>
                                        </select>
                                    </div>
                                </div>
                             
                             
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label" ng-click='alertMe()'>Product Brand*</label>
                                    

                                    <div class="col-lg-8" mass-autocomplete>                                        
                                        <input placeholder='select a brand' class="form-control" ng-model="product.brand" mass-autocomplete-item="brand_options" ng-keyup="addNewBrandInList()" required>
 
                                    </div>

                                </div>  
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Usages*</label>
                                    <div class="col-lg-8 form-inline">
                                         
                                        <div class="checkbox custom-checkbox form-group" ng-repeat="usage in usages"  ng-click="selectedUsages[$index] = !selectedUsages[$index];selectUsage($index);">
                                        <label >
                                            <input  type="checkbox" ng-model="selectedUsages[$index]" ng-checked="selectedUsages[$index]"  >
                                            
                                            <span class="fa fa-check"></span>
                                            {{usage}}
                                        </label>
                                        </div>
                                        
                                    </div>
                                </div>  

                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label ">Product Size</label>
                                    <div class="col-lg-8 form-inline size_info" style="padding:0px;"> 
                                    <div class="col-lg-4 col-sm-12">
                                         <div class="input-group">
                                            <input placeholder='width' class="form-control" ng-model="product.width">
                                        <div class="input-group-btn"> <select  class="form-control pull-right" ng-model ="product.w_unit" placeholder="unit">
                                                <option  value="ft"> ft</option> <option  value="inch">inch</option> <option  value="cm">cm</option> <option  value="mm">mm</option>
                                        </select> </div>
                                         </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group">    
                                       <input placeholder='height' class="form-control" ng-model="product.height">
                                       <div class="input-group-btn">
                                         <select  class="form-control pull-right" ng-model ="product.w_unit" placeholder="unit">
                                                <option  value="ft"> ft</option> <option  value="inch">inch</option> <option  value="cm">cm</option> <option  value="mm">mm</option>
                                        </select>
                                        </div>
                                     </div>  
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group">
                                       <input placeholder='thickness' class="form-control" ng-model="product.thickness">
                                       <div class="input-group-btn">
                                           <select  class="form-control pull-right" ng-model ="product.t_unit" placeholder="unit">
                                                <option  value="ft"> ft</option> <option  value="inch">inch</option> <option  value="cm">cm</option> <option  value="mm">mm</option>
                                        </select>
                                         </div>
                                     </div>
                                    </div> 
                                            
                                          
                                    </div>
                                  </div>
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Shape</label>
                                    <div class="col-lg-8">

                                        <div mass-autocomplete >
                                            <input placeholder='select a product shape' class="form-control" ng-model="product.shape" mass-autocomplete-item="shape_options">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group clearfix">

                                    <label class="col-lg-2 control-label">Product Material</label>
                                    <div class="col-lg-8 ">

                                        <div mass-autocomplete>
                                            <input placeholder='select a material' class="form-control" ng-model="product.material" mass-autocomplete-item="material_options">
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Applications*</label>
                                    <div class="col-lg-8 form-inline">
                                         

                                        <div class="checkbox custom-checkbox form-group" ng-repeat="application in applications"  ng-click="selectedApplications[$index] = !selectedApplications[$index];selectApplication($index);">
                                        <label >
                                            <input  type="checkbox" ng-model="selectedApplications[$index]" ng-checked="selectedApplications[$index]" >
                                            
                                            <span class="fa fa-check"></span>
                                            {{application}}
                                        </label>
                                        </div>
                                        
                                    </div>
                                </div>
                             
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Finish</label>
                                    <div class="col-lg-8">

                                        <div mass-autocomplete>
                                            <input placeholder='finish type' class="form-control" ng-model="product.finish_type" mass-autocomplete-item="finish_type_options">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Look</label>
                                    <div class="col-lg-8">

                                        <div mass-autocomplete>
                                            <input placeholder='product look' class="form-control" ng-model="product.look" mass-autocomplete-item="look_options">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Colors*</label>

                                    <div class=" colors_cat col-lg-8">
                                        <ul id="cat_color"> 
                                            <li ng-class="{'active':selectedColors[$index]}" ng-click="selectedColors[$index]=!selectedColors[$index]" ng-repeat="color in colors">
                                                <a class="col-{{$index+1}}" val="{{$index+1}}" href></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                              <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Origin Country</label>
                                     
                                        <div class="col-lg-8">
                                            <div mass-autocomplete>
                                              <input placeholder='origin country of product' class="form-control" ng-model="product.origin_country" mass-autocomplete-item="country_options" >
                                            </div>    
                                        <!-- <div mass-autocomplete>
                                            <input placeholder='origin country of product' class="form-control" ng-model="product.origin_country" mass-autocomplete-item="country_options">
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Degree of Variation</label>
                                    <div class="col-lg-8 ">
                                        <input type="text" class="form-control" placeholder="product degree variation" ng-model="product.variation">
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Special Features*</label>
                                    <div class="col-lg-8">
                                        <textarea class="form-control" rows="4" placeholder="Type special features information here" ng-model="product.features" required>
                                        </textarea>
                                    </div>

                                </div>
                             
                             

                            <div class="form-group clearfix">
                                <div class="col-lg-5">

                                </div>
                                <div class="col-lg-5 proceed-fwd">
                                    <button class="btn btn-default" ng-click="t1=0;t2=1;t3=0">Proceed <i class="fa fa-arrow-right" /></button>
                                </div>
                            </div>

                        </div>

                        <div ng-show="t2" class="tab-pane fade" ng-class="{active:t2 ,in:t2}" id="panel-colors">

                            <div class="row">
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Product Price*</label>
                                    <div class="col-lg-3">
                                        <div class="input-group">
                                        <span class="input-group-addon">Rs.</span>
                                        <input type="text" class="form-control" placeholder="Price" ng-model="product.price" required>
                                    </div>
                                    </div>
                                    <label class="col-lg-2 col-lg-offset-1  control-label">Product Code</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" placeholder="Product code in your database" ng-model="product.seller_product_code">

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Items Per Box* </label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" placeholder="Number of items per box" ng-model="product.items_per_box" required>

                                    </div>
                                    <label class="col-lg-2 col-lg-offset-1  control-label">Minimum Orders*</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" placeholder="Your Minimum Orders" ng-model="product.minimum_boxes" required>
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group clearfix">
                                    <label class="col-lg-2 control-label">Total Quantity* </label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" placeholder="total numbers of boxes" ng-model="product.total_boxes" required>

                                    </div>
                                    <label class="col-lg-2 col-lg-offset-1  control-label">Seller Comment</label>
                                    <div class="col-lg-3">
                                        <textarea class="form-control" rows="4" placeholder="Your Comments for product" ng-model="product.comments">
                                        </textarea>
                                    </div>


                                </div>
                            </div>


                            <div class="form-group clearfix">
                                <div class="col-lg-5 proceed-bck">
                                    <button class="btn btn-default" ng-click="t1=1;t2=0;t3=0"><i class="fa fa-arrow-left" /> Back </button>
                                </div>
                                <div class="col-lg-5 proceed-fwd">
                                    <button class="btn btn-default" ng-click="t1=0;t2=0;t3=1;">Proceed <i class="fa fa-arrow-right" /></button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="t3" class="tab-pane fade" ng-class="{active:t3, in:t3}" id="panel-images">
                            <!-- <div class="form-group clearfix">
                                <label class="col-lg-2 control-label">Choose Image</label>
                                <div class="col-lg-3">
                                    <input type="file" class='form-control' nv-file-select="" uploader="uploader" ng-model="product.image" />
                                </div>
                            </div> --> 
                                                        
                            <div class="form-group clearfix">
                                <div class="col-lg-3 bg-light b-r bg-auto">
                                <div class="wrapper-md dker b-b">
                                  <h3 class="m-n font-thin">Select Images </h3><em class="text-muted">(maximum 5)*</em>
                                </div>
                                <div class="wrapper-md">
                                    <label> Main Image:*</label>
                                    <input type="file" nv-file-select="" uploader="uploader" ng-click="uploader.queue.length=0" required/>                                         
                                  <label> Other Images:</label>
                                  <input ng-disabled="uploader.queue.length<1" type="file" nv-file-select="" uploader="uploader" multiple  />
                                </div>

                              </div>
                              <div class="col-lg-9">
                                <div class="wrapper-md bg-light dk b-b">
                                  
                                  <h3 class="m-n font-thin">Selected Images</h3>      
                                </div> 
                                  <table class="table bg-white-only b-a">
                                      <thead>
                                          <tr>
                                              <th width="40%">Name</th>
                                              <th >Preview </th>
                                              <th ng-show="uploader.isHTML5">Size</th>
                                              <th ng-show="uploader.isHTML5">Progress</th>
                                              <th>Status</th>
                                              <th>Actions</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="item in uploader.queue">
                                              <td><strong>{{ item.file.name }}</strong></td>
                                              <td>   
<!--                                                 <div ng-thumb="{ file: item._file, height: 100 }"></div> -->
                                      </td>
                                              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                              <td ng-show="uploader.isHTML5">
                                                  <div class="progress progress-sm m-b-none m-t-xs">
                                                      <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                  </div>
                                              </td>
                                              <td class="text-center">
                                                  <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                                                  <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                  <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                              </td>
                                              <td nowrap>
                                                  <!-- <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                      Upload
                                                  </button> -->
                                                   
                                                  <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                                                      Remove
                                                  </button>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                                    
                              </div>
                          </div>
                             
                            <div class="form-group clearfix">
                                
                                <div class="col-lg-5 proceed-bck">
                                    <button class="btn btn-default" ng-click="t1=0;t2=1;t3=0"><i class="fa fa-arrow-left" /> Back  </button>
                                </div>
                                <div class="col-lg-5">
                                    <button type="submit" class="btn btn-lg btn-sp btn-v" ng-disabled="addProduct.$invalid||!isFormOk()||uploader.queue.length<1" ng-click="submitform(product)">Add Product  </button>
                                </div>
                            </div>
                        </div>
                        <!-- /#panel-image -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.panel-body -->


            </form>
        </div>
        <!-- /.collapse in -->
    </div>    
        <a ng-click="showpopup = !showpopup"  class="close-window">Close</a>
  </div>
</div>

    </div>
    

