<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="sellerCtrl">
  <div class="col" >
     <script type="text/ng-template" id="myModalContent.html">
         <div ng-include="'tpl/modal.html'"></div>
          </script>
    <div style="background:url(img/c3.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <div   class="thumb-lg pull-left m-r seller-profile" >
              <!-- <div class="edit_option" ng-class="{'hidden':!p}" style="background: url('img/a0.jpg')"> 
                <span class='fa fa-camera'></span><br>
                <small class="m-l">edit photo</small>  </div> -->
                 <span class='fa fa-edit edit_icon center-align' ng-class="{'hidden': !p}" ng-mouseover="p=1" ng-click="showpopup=true"></span>  
              <img ng-src="{{seller.img}}?{{getNewTimeStamp()}}" class="img-circle img-sm" ng-mouseover="p=1" ng-mouseleave="p=0" ng-class="{'op-m':p}"> 
                
            </div>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black" > {{seller.storename}}</span><br>
                <small class="m-s">{{seller.owner_name}}</small>
              </div>
              <p class="m-b">
               <!-- <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>-->
              </p>
               <!--<a  ng-click="open('sm')" class="btn btn-sm btn-info btn-rounded ">Pay bill</a> --><a ui-sref="app.update.seller" class="btn btn-sm btn-success btn-rounded">Update Info</a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">{{seller.noofproducts}}</span>
                <small>Total products Selected</small>
              </a>
             <!--  <a href class="m-b-md inline m">
                <span class="h3 block font-bold">{{seller.rent}}</span>
                <small>Monthly Rent</small>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li class="active"><a href>Stream</a></li>
        <li><a href>Profile</a></li>
        <li><a href>Messages</a></li>
      </ul>
    </div> -->

      <div class="list-group">
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-info">+91-{{seller.name}}</span>
          <i class="fa fa fa-user fa-fw m-r-xs"></i> Contact Person
        </a>
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-success">+91-{{seller.phone}}</span>
          <i class="fa fa fa-phone fa-fw m-r-xs"></i> Contact No
        </a>
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-info">{{seller.storename}}</span>
          <i class="fa fa-eye fa-fw m-r-xs"></i> Store name
        </a>

        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-success">{{seller.address}} ,{{seller.city}} , {{seller.state}},{{seller.pincode}}</span>
          <i class="fa fa-send fa-fw m-r-xs"></i> Address
        </a>

        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-info">{{seller.comments}}</span>
          <i class="fa fa-info-circle fa-fw m-r-xs"></i> Additional Info
        </a>
       <!--  <a href="" class="list-group-item">

          <span class="badge btn btn-xs btn-success m-t-xs bg-success">Rs. {{seller.rent}} per Month</span>
          <i class="fa fa-phone fa-fw m-r-xs"></i> Rent
        </a>
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-info">{{seller.totaldeposit}}</span>
          <i class="fa fa-comments-o fa-fw m-r-xs"></i>Total Deposit
        </a>
        <a href="" class="list-group-item">
          <span class="badge btn btn-xs btn-success m-t-xs bg-warning">{{totaldepositpaid(seller.deposits)}}</span>
          <i class="fa fa-bookmark fa-fw m-r-xs"></i> Deposit Paid
        </a>

        <a href="" class="list-group-item">
          <span class="badge  btn btn-xs btn-success m-t-xsbg-danger">{{seller.entry_date}}</span>
          <i class="fa fa-clock-o fa-fw m-r-xs"></i> Entry Date
        </a> -->
      </div>
      </div>






  <div class="col w-lg bg-light lter b-l bg-auto">
    <div class="wrapper">
        <script type="text/ng-template" id="myinstallmentContent.html">
         <div ng-include="'tpl/installmenttenant.html'"></div>
          </script>
       <div class="panel b-light clearfix" ng-show="!seller.noofproducts">
        <div class="panel-body">
         <!--  <a href="" class="thumb pull-left m-r">
            <img src="img/a0.jpg" class="img-circle">
          </a> -->
          <div class="clear">
            <a href="" class="text-danger">No Products selected for this Seller</a>
            <small class="block text-muted">Select products for this seller</small>
            <a class="btn btn-xs btn-danger m-t-xs " ui-sref="app.all.products">Select Products</a>
          </div>
        </div>
      </div>
      <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <span class="text-xs text-muted pull-right">
                <i class="fa fa-circle text-primary m-r-xs"></i> {{seller.noofproducts}}

              </span>
              <h4 class="font-thin m-t-none m-b-none text-muted">All Selected Products</h4>
            </div>
            <ul class="list-group list-group-lg m-b-none">
              <li class="list-group-item" ui-sref="app.all.choosedproducts">
                <a href="" class="pull-left thumb-sm  m-r">
                  <img src="img/view.png" class="r r-2x">
                </a>
                <div class="clear">
                <div><a href="">View </a></div>
                <small class="text-muted">Click to view sellers product</small>
              </div>


              </li>

            </ul>
            <div class="panel-footer">
              <!-- <span class="pull-right badge badge-bg m-t-xs">32</span> -->
              <button class="btn btn-primary btn-addon btn-sm" ui-sref="app.all.products({seller_id: seller.id})"><i class="fa fa-plus"></i>Selected More Products</button>
            </div>
          </div>
       <!-- <div class="panel b-a" ng-show="seller.noofproducts">
        <h4 class="font-thin padder">All Products</h4>
        <ul class="list-group">
        <li class="list-group-item" ui-sref="app.all.selectedproducts({seller_id: seller.id})">
            <a  class="pull-left thumb-sm  m-r">
              <img src="img/installment.png" alt="..." class="img-square">
              <i class="on b-white bottom"></i>
            </a>
            <span class="pull-right badge badge-bg bg-success m-t-xs" ng-show="deposit.status==1">Paid</span>
             <span class="pull-right badge badge-bg bg-danger m-t-md" ng-show="deposit.status==0">Unpaid</span>
            <div class="clear ">
              <div><a >View All Products</a></div>
              <small class="text-muted">Listed By this seller</small>
              <a ng-click="payinstallment(deposit)" class="btn btn-xs btn-danger m-t-xs" ng-show="deposit.status==0">Pay Now</a>
              <a ng-click="deletesecuritydeposit(deposit)" class="btn btn-xs btn-danger m-t-xs" ng-show="deposit.status==0">Delete</a>
            </div>
          </li>

        </ul>
        <div class="panel-footer">
              <span class="pull-right badge badge-bg  m-t-xs">32</span>
              <button class="btn btn-info btn-addon btn-sm" ui-sref="app.all.products({seller_id: seller.id})"><i class="fa fa-plus" ></i>Select Products</button>
            </div>

      </div> -->

      <div class="panel b-a" ng-show="seller.currenthouse[0].id">
        <h4 class="font-thin padder">Current House</h4>
        <ul class="list-group">
        <li  class="list-group-item">
            <a ui-sref="app.house.detail({house_id : seller.currenthouse[0].id})" class="pull-left thumb-sm  m-r">
              <img src="img/a4.jpg" alt="..." class="img-square">
              <i class="on b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>{{seller.currenthouse[0].name}}</a></div>
              <small class="text-muted" ui-sref="app.house.detail({house_id : seller.currenthouse[0].id})">go to the house</small>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
  <div class="clearfix quick-view " id="quickview-template" style="display:block" ng-show="showpopup">
  <div class="overlay"></div>
   
   
  <div class="content m-box clearfix">
     <div class="wrapper-md" >
   <div class="m-b">
      Select an image file<br>
    <div class="btn btn-sm btn-danger m-t-sm fileupload">                  
                <small class="m-s"> <span class='fa fa-camera'></span> edit photo</small>  
                <!-- <input type="file" id="fileInput" /> -->
                <input type="file" id="fileInput" nv-file-select="" class='upload'uploader="uploader"/>
    </div>

  </div>
  <div class="hbox hbox-auto-xs">
    <div class="col">
      <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
        <div class="bg-light" style="height:320px">
          <img-crop 
            image="myImage" 
            result-image="myCroppedImage"
            result-image-size="96"
            area-type="{{cropType}}"
          ></img-crop>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="inline bg-white wrapper-sm b-a">
        <div class="bg-light">
          <img class='img-circle'ng-src="{{myCroppedImage}}" />
        </div>
      </div> 

      <div class='wrapper-xs '>
          <button class="btn btn-sm btn-primary m-t-sm " ng-click='uploadProfilePhoto()'>                  
                <small class="m-s"> <span class='fa fa-upload'></span> Upload photo</small>                 
          </button>

      </div>
    </div>
  </div>

</div>  
        <a ng-click="showpopup = !showpopup"  class="close-window">Close</a>
   
  </div>
</div>

