<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <h1 class="m-n font-thin h3">Update Seller</h1> 
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold"> Update all details here</div> 
        <div class="panel-body">
          <form class="bs-example form-horizontal" name="addTenant">
            <div class="form-group">
              <label class="col-lg-2 control-label">Seller Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="name" ng-model="seller.name">
                <span class="help-block m-b-none">Add a seller name</span>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">Seller Email</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Email" ng-model="seller.email">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Seller Address</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="address" ng-model="seller.address">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">Seller Phone</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="phone" ng-model="seller.phone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Seller Store Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="company" ng-model="seller.storename">
              </div>
            </div>
            <div class="form-group">
                  <label class="col-lg-2 control-label">Seller Addtional Information</label>
                   <div class="col-lg-10">
                  <textarea class="form-control ng-pristine ng-valid ng-touched" rows="6" placeholder="Type additional information about seller here" ng-model="seller.comments"></textarea>
                </div>
                </div>
             

             
            
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <div class="checkbox">
                  <label class="i-checks">
                    <input type="checkbox" checked><i></i> Remember me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-sm btn-info" ng-click="update(seller)" >Update Seller</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
 
  
</div>