
   <ul class="notifyList">
                    <li class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
                        Your cart is empty
                    </li>
                    <li ng-show="ngCart.getTotalItems() > 0" class="alert alert-warning">
                            Rcently Added Items
                    </li>

                    <li ng-show="ngCart.getTotalItems() > 0" class="animated_item" ng-repeat="item in ngCart.getCart().items track by $index" style="margin-bottom: 0px;">
                        <div ng-show="$index < 3">
                        <a href >

                            <img class="avatar pull-left" src="{{item.getData().product_img}}" alt="avatar" style="border-radius: 10%;">
                            <a class="remove-cart " ng-click="ngCart.removeItemById(item.getData().product_id); showCounter1();"  ></a>

                            <div class="pulse border-grey"></div>
                            <div class="notify pull-left">
                                <div class="notifyName">{{item.getName()}}  </div>
                                <div class="notifyTime"> Price: {{item.getPrice()}} per sq. ft. &nbsp;&nbsp;&nbsp; Quantity:{{item.getQuantity()}} </div>

                            </div>



                            <div class="clearfix"></div>
                        </a>
                    </div>
                    </li>

                    <li class="alert alert-warning" style="padding-left:10px;">
                         <a href>
                            <div class="pull-left" >
                            Order Summary:
                            </div>
                            <div class="pulse border-grey"></div>
                            <div class="notify pull-left">
                                <div class="notifyName">Total Items: {{ ngCart.getTotalItems() }}   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Total Bill: {{ ngCart.totalCost() }}  </div>

                            </div>

                            <div class="clearfix"></div>
                        </a>

                        
                    </li>

                    <li class="alert-warning cart-summary"style="padding-top: 5px;  margin-bottom: -3px;">
                         <a href data-toggle="modal" data-target="#my-cart">
                                View Cart in Detail >>
                        </a>
                    </li>
                </ul>
