<section class="main_cart_area">
		<div class="container">
			<div class="row">

				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
					Your cart is empty
				</div>

					

				<div class="main_cart_left" ng-show="ngCart.getTotalProducts()>0">
					<div class="cart_title"> <h3> Products</h3></div>
					<div class="cart_heading">
						<div class="h_item1">
							<p>product</p>
						</div>
						<div class="h_item2">
							<p>Price (Per Cartoon)</p>
						</div>
						<div class="h_item3">
							<p>Quantity</p>
						</div>
						<div class="h_item4">
							<p>total</p>
						</div>
					</div> 
					<div class='cart_items'>
						<div class="cart_item" ng-repeat="item in ngCart.getProducts() track by $index" >
							<div class="cart_item_img">
								<img src="{{ item.getData().product_img }}" style="width:92px;height:82px" alt="" />
								<p>{{ item.getName() }}<br>{{ item.getData().product_type_id }}</p>
							</div>
							<div class="cart_price">
								<p>Rs. {{ item.getPrice() }}</p>									
							</div>
							<div class="cart_quantity">
								<ul>
									<li><a  ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"><i class="fa fa-minus"></i></a></li>
									<li><a >  {{ item.getQuantity() | number }}</a></li>
									<li><a ng-click="item.setQuantity(1, true)"><i class="fa fa-plus"></i></a></li>
								</ul>
								  
							</div>
							<div class="cart_total">
								<p>
									<span  > Rs. {{ item.getTotal() }} </span>  
									<div class="close_icon_cart " style="margin-top:-20px;margin-right: 10px;font-size:20px;" ng-click="ngCart.removeItemById(item.getId())">
        								<span class="icon-close" style="color:#EA2E49"></span>
    								</div>
    							</p>

								
								
							</div>
						</div>
					</div>


					<!-- <div class="coupon_box">
						<input type="text" placeholder="coupon code"/>
						<input type="submit" value="apply coupon">
					</div> -->
				</div>

				<div class="main_cart_left" ng-show="ngCart.getTotalSamples() > 0">
					<div class="cart_title"> <h3>Shortlisted Samples</h3></div>	
						<div class="cart_heading">
							<div class="h_item1">
								<p>product</p>
							</div>
							<div class="h_item2">
								<p>Sample Charges</p>
							</div>
							<div class="h_item3">
								<p>Quantity</p>
							</div>
							<div class="h_item4">
								<p>total</p>
							</div>
						</div> 
						<div class='cart_items'>
							<div class="cart_item" ng-repeat="item in ngCart.getSamples() track by $index" >
								<div class="cart_item_img">
									<img src="{{ item.getData().product_img }}" style="width:92px;height:82px" alt="" />
									<p>{{ item.getName() }} <br>{{ item.getData().product_type_id }}</p>
								</div>
								<div class="cart_price" ng-show='$index < 5'>
									<p>Rs. {{ item.getPrice() }}</p>									
								</div>
								<div class="cart_price" ng-show='$index >= 5'>
									<p>Rs. {{ngCart.getPerSampleCharges()}}</p>									
								</div>

								<div class="cart_quantity">
									<ul>
										<li> <p> 1 </p></li>
									</ul>
									  
								</div>
								<div class="cart_total">
									<p>
										<span ng-show='item._type=="sample"'> Rs. {{ item.getPrice() }} </span>
										<span ng-show='item._type=="product"'> Rs. {{ item.getTotal() }} </span>  
										<!-- <span ng-show='$index >= 5' > Rs. {{ngCart.getPerSampleCharges()}} </span>   -->
										
										<div class="close_icon_cart " style="margin-top:-20px;margin-right: 10px;font-size:20px;" ng-click="ngCart.removeItemById(item.getId())">
	        								<span class="icon-close" style="color:#EA2E49"></span>
	    								</div>
	    							</p>

									
									
								</div>
							</div>

						</div>
 
					</div>


				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="main_cart_right">
						<div class="product_form_total">


							<div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
								  <h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#home-accordion" aria-expanded="true" aria-controls="collapseOne" ng-click="shippingcollapse=!shippingcollapse">
									  SAMPLE CHARGES  
									  <span class="floatright"><i class="fa fa-angle-right" style="font-weight:bolder"  ng-show="!shippingcollapse"></i><i class="fa fa-angle-down"  style="font-weight:bolder"  ng-show="shippingcollapse"></i> 
									  </span>
									</a>
								  </h4>
								</div>
								<div ng-show="shippingcollapse"id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body cart_p_body">

										<div class="c_single_item cart_last_total">
											<p> Sample Cost </p>
											<span> 50/-*</span>
										</div>

										<div class="c_single_item">
										<p>Total Samples</p>
										<span>  {{ ngCart.getTotalSamples()  }}</span>
										</div>
										

										<div class="c_single_item c_info">
										 
										<p>  *no charges for first 5 samples.</p>
										</div>

										<div class="c_single_item c_totals">
											<p><b>Net Sample Charges</b></p>
											<span><b>Rs. {{ngCart.getSampleCharges()}}</b></span>
										</div>
										 
										 

										<!-- <select class="selectpicker">
										  <option>Melbourne</option>
										  <option>Dhaka</option>
										  <option>New York</option>
										</select>
										<select class="selectpicker sel_state">
										  <option>Sate/Country</option>
										  <option>Bangladesh</option>
										  <option>USA</option>
										  <option>UK</option>
										  <option>Canda</option>
										  <option>Australia</option>
										</select>  
										  <input type="text" placeholder="Postcode/zip"/>
										<input type="submit" value="Update Totals"> -->
									</div>
								</div>
							  </div>
							  <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
								  <h4 class="panel-title">
									<a class="collapsed"   ng-click="carttotalscollapse=!carttotalscollapse">
									  Cart totals
									  <span class="floatright"><i class="fa fa-angle-down" style="font-weight:bolder"  ng-show="!carttotalscollapse"></i><i class="fa fa-angle-right"  style="font-weight:bolder"  ng-show="carttotalscollapse"></i></span>

									  <!-- <span class="floatright" ><i class="fa fa-plus"></i></span> -->
									</a>
								  </h4>
								</div>
								<div class="panel-collapse collapse in"  ng-show="!carttotalscollapse">
								  <div class="panel-body cart_p_body">
									<div class="c_single_item">
										<p>SubTotal</p>
										<span>Rs. {{ ngCart.totalCost()  }}</span>
									</div>
									<div class="c_single_item cart_last_total">
										<p>Shipping Charge</p>
										<span>Free</span>
									</div>
									<div class="c_total_item sp_single_item">
										<p>Total</p>
										<span>Rs. {{ ngCart.totalCost()  }}</span>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<!-- <a  class="cart_update">Update Cart</a> -->
							<div class="coupon_box">
							<input type="text" placeholder="coupon code"/>
							<input type="submit" value="apply coupon">
							</div>

							<input type="submit" ui-sref="app.home.checkout" value="Proceed to checkout">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
