

<div class="row">
    <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
	</div>

	<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0" style="height:315px; overflow-y: scroll; ">

	    <table class="table table-striped ngCart cart">

	        <thead>
	        <tr>
	            <th>Product(s)</th>
	            <th>Product Id</th>
	            <th>Name </th>
	            <th>Quantity</th>
	            <th>Amount(per sq. ft.)</th>
	            <th>Total</th>
	            <th> </th>
	        </tr>
	        </thead>
	        <tfoot>
	        <tr ng-show="ngCart.getTax()">
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
	            <td>{{ ngCart.getTax()  }}</td>
	            <td></td>
	        </tr>
	        <tr ng-show="ngCart.getShipping()">
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>Shipping:</td>
	            <td>{{ ngCart.getShipping()   }}</td>
	            <td></td>
	        </tr>
	        
	        </tfoot>
	        <tbody>
	        <tr ng-repeat="item in ngCart.getCart().items track by $index">
	            
	        	<td><img src="{{ item.getData().product_img }}" style="width:70px;height:70px;"/></td>
	        	<td style="text-align: center;">{{ item.getData().product_id }}</td>
	            <td>{{ item.getName() }}</td>
	            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
	                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
	                {{ item.getQuantity() | number }}&nbsp;&nbsp;
	                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
	            <td>Rs. {{ item.getPrice() }}</td>
	            <td>Rs. {{ item.getTotal() }}</td>
	            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>
	        </tr>
	        
	        
	        </tbody>
	    </table>
	</div>
	<div class='row'>
		<div class='pull-right row' style="font-size:18px; margin-right:45px;">
	                Payable Amount: <b> Rs. {{ ngCart.totalCost()  }} </b>
	    </div>
	</div>    
	<div class='row'> 
		<div class='pull-right' style="margin-right:45px;">
			<button class="btn btn-primary" ng-click="checkout()">Continue Shopping
			</button>   
			<button class="btn btn-primary" ng-click="checkout()"e>Proceed to Payment
				</button>  
		</div>   
	</div>	 

</div>