<div class="col-md-3 col-sm-4 col-xs-12">
    <div class="checkout_right">

        <h4>3. Review of Your Order</h4>
        <div class="dotted_line"></div>
        <div class="product_form_total m-t-md">
            <div ng-show='ngCart.getTotalSamples()' class='m-b-sm' style='border-bottom: 2px solid #ccc;'>
                <div class="c_main_item">
                    <p><b>Sample</b></p>
                    <span><b>Total</b></span>
                </div>
                <div class="c_single_item" ng-repeat="sample in ngCart.getSamples() track by $index">
                     
                    <p >{{ sample.getName() }} </p>
                    <span ng-show="$index < 5"> Rs 0 </span>
                    <span ng-show="$index >= 5"> Rs {{ngCart.getPerSampleCharges()}} </span>
                </div>
                <div class="c_single_item sp_single_item">
                    <p> <b>Sample Charges </b></p>
                    <span> Rs. {{ngCart.getSampleCharges()}} </span>
                </div>

            </div>

            <div ng-show='ngCart.getTotalProducts()'>
                <div class="c_main_item">
                    <p><b>Product</b></p>
                    <span><b>Total</b></span>
                </div>
                <div class="c_single_item" ng-repeat="item in ngCart.getProducts() track by $index">
                    <p ng-show='item.getTotal()!=0'>{{ item.getName() }}  ({{ item.getQuantity() | number }} cartoons)</p>
                    <span ng-show='item.getTotal()!=0'>Rs. {{ item.getTotal() }}</span>
                    <p ng-show='item.getTotal()==0'>{{ item.getName() }} </p>
                    <span ng-show="item.getTotal()==0"> Sample </span>
                </div>
            </div>             

            <div class="c_single_item">
                <p> <b>subtotal </b></p>
                <span>Rs. {{ ngCart.totalCost()-ngCart.getSampleCharges()  }}</span>
            </div>


            <div class="c_single_item sp_single_item">
                <p> <b> Shipping Charge </b></p>
                <span>Free</span>
            </div>
            <div class="c_total_item sp_single_item">
                <p>Order Total</p>
                <span>Rs. {{ ngCart.totalCost()  }}</span>
            </div>
            <!-- <div class="c_payment">
                <p>Select Payment Method</p>
                <select class="selectpicker sel_state">
                    <option>Direct Bank Transfer</option>
                    <option>Wire Transfer</option>
                    <option>VISA</option>
                </select>
            </div> -->
            <div class="checkbox">
                <label>
                    <input type="checkbox"> I have Read & Accept <span>Terms & Conditions</span>
                </label>
            </div>
            <input type="submit" value="Place order now" ng-disabled='detailsForm.$invalid' ng-click='orderSubmit()'/>
        </div>
    </div>
</div>
</div>