<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <h1 class="m-n font-thin h3">Add House</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">House Detail form</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal form-validation" name="addHouse" >
            <div class="form-group">
              <label class="col-lg-2 control-label">House Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House name" ng-model="house.name" required>
                <span class="help-block m-b-none">Example block-level help text here.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Address</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House address" ng-model="house.address" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Total Rooms</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="No of Rooms" ng-model="house.totalrooms" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Rent</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="House Rent to be paid by us" ng-model="house.rent">
              </div>
            </div>
            
             <div class="form-group">
              <label class="col-lg-2 control-label">House DTH bill</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Dth bill of house" ng-model="house.dthbill">
              </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House DTH bill date</label>
             <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="df" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
               <input type="hidden" value="{{df.getFullYear()}}-{{df.getMonth()+1}}-{{df.getDate()}}" id="dth_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
            </div>
              <div class="form-group">
              <label class="col-lg-2 control-label">House Electricity bill</label>
              <div class="col-lg-10">
                <input type="number" class="form-control" placeholder="Monthly Electricity Bill" ng-model="house.powerbill" required>
              </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House Electricity bill date</label>
              <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ds" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
               <input type="hidden" value="{{ds.getFullYear()}}-{{ds.getMonth()+1}}-{{ds.getDate()}}" id="power_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House Wifi bill</label>
              <div class="col-lg-10">
                <input type="number" class="form-control" placeholder="Monthly wifi Bill" ng-model="house.wifibill" required>
              </div>
            </div>
             <div class="form-group">
              <label class="col-lg-2 control-label">House Wifi bill date</label>
              <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="sd" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
               <input type="hidden" value="{{sd.getFullYear()}}-{{sd.getMonth()+1}}-{{sd.getDate()}}" id="wifi_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
            </div>
<div class="form-group">
          <label class="col-sm-2 control-label">House Entry Date</label>
          <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <input type="hidden" value="{{dt.getFullYear()}}-{{dt.getMonth()+1}}-{{dt.getDate()}}" id="entry_date">
       
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
               
              </span>
            </div>
          </div>
        </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">House Total Deposit</label>
              <div class="col-lg-10">
                <input type="number" class="form-control" placeholder="Total deposit to be paid by us to the owner" ng-model="house.totaldeposit" required>
              </div>
            </div>
             <div class="form-group"> <label class="col-lg-2 control-label">House Deposit Left</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Left Deposit" ng-model="house.depositleft">
              </div>
            </div>
             
          
          
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-sm btn-info" ng-click="submithouse(house)" ng-disabled="addHouse.$invalid">Add House</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
</div>